mixin badge(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' badge--' + modsList[i].trim();
      }
    }

  .badge(class=allMods)&attributes(attributes)

    if (mods === 'fire')
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 11 14', width='11', height='14')
        path(d='M2.00228 3.29741c.03978-.04375.09303-.07438.15214-.0875.05758-.01251.11788-.00635.17139.0175.05408.02537.10082.06563.1329.119.0331.05386.0505.11519.05041.17764 0 1.34933.61315 2.276 1.07783 2.67065-.40602-2.58402.27954-5.525935 2.0961-6.1778469.04461-.01634786.09301-.0209122.1401-.01321261.0471.00769961.09115.02737831.12752.05696511.03903.0307334.07008.0696664.09074.1137564.02141.045992.03235.095803.03208.146133 0 1.995985 1.15757 3.084545 2.38296 4.236985.9926.93368 2.01915 1.89973 2.36095 3.37419.5564 2.40113-.1558 4.20113-2.17672 5.50403-.0527.035-.11672.0508-.18057.0447-.06384-.0061-.12332-.0337-.16771-.0779-.04809-.0465-.08063-.1056-.09349-.1698-.0139-.0658-.00819-.134.0165-.1969.82854-2.1438.23463-4.70686-1.5471-5.98793 0 1.92161-1.18873 1.92161-1.18873 3.84413-.38944.0094-.77049-.1089-1.07967-.3352-.32774-.2412-.57227-.57072-.70206-.94591-1.18782.64051-1.18782 2.56211.18606 3.77581.00733.0062.05499.0438.0614.0508.04583.042.07882.0989.09441.1627.01517.0635.012.1298-.00917.1917-.01999.0596-.05792.1122-.10907.1514-.03188.0241-.06897.0411-.10859.0499-.03962.0088-.08079.0091-.12054.0008-1.61583-.3605-2.898053-1.7273-3.431471-3.6542C-.41735 7.88617.248964 5.18752 2.00228 3.29741z')

    if (mods === 'new')
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 20 7', width='20', height='7')
        path(d='M5.00145.00669295c-.39503 0-.7164.31460005-.7164.70129705v3.49338L1.28551.288523C1.09804.0460182.776665-.0522942.488763.0460184.194166.144331 0 .406498 0 .70799V6.2987C0 6.6854.321379 7 .716406 7c.395024 0 .716404-.3146.716404-.7013V2.80533l2.99953 3.91284C4.56625 6.89513 4.7805 7 5.00145 7c.07365 0 .15399-.01311.22764-.03933.2946-.09831.48877-.36048.48877-.66197V.70799c0-.386697-.32138-.70129705-.71641-.70129705zM10.7199 5.59727H8.57737V1.40259h2.14253c.395 0 .7164-.3146.7164-.701292C11.4363.314601 11.1149 0 10.7199 0H7.86097c-.39503 0-.71641.314601-.71641.701298V6.29857c0 .38669.32138.70129.71641.70129h2.85893c.395 0 .7164-.3146.7164-.70129 0-.3867-.3214-.7013-.7164-.7013z')
        path(d='M10.7199 2.80482H7.86097c-.39503 0-.71641.3146-.71641.70129 0 .3867.32138.69474.71641.69474h2.85893c.395 0 .7164-.3146.7164-.70129 0-.3867-.3214-.69474-.7164-.69474zM19.4567.0261429c-.3883-.0917584-.7699.1310841-.8637.5112261l-.8302 3.263981-.6495-1.91382c-.1941-.57021-1.1583-.57021-1.3524 0l-.6495 1.91382-.8302-3.263981c-.0937-.373588-.4888-.6029845-.8637-.5112261-.3816.0917581-.616.4719001-.5222.8454881l1.4261 5.590709c.0803.3015.3481.51778.6628.53089.3616.01311.6026-.18352.703-.47845l.7499-2.20221.7499 2.20221c.1004.28838.3682.47845.6762.47845h.0268c.3147-.01311.5892-.22939.6629-.53089L19.979.871631c.0937-.373588-.1339-.75373-.5223-.8454881z')

    if (mods === 'discount')
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 17 17', width='17', height='17')
        path(d='M0 3.41817C0 2.4037.370956 1.58228 1.11287.953908 1.85478.31797 2.82694 0 4.02935 0 5.24881 0 6.2295.314184 6.97141.942552c.74191.620798 1.11286 1.464928 1.11286 2.532398v.81764c0 1.02204-.37095 1.84346-1.11286 2.46426-.74191.62079-1.71407.93119-2.91648.93119-1.21094 0-2.19162-.3104-2.94206-.93119C.370956 6.12848 0 5.28435 0 4.22445v-.80628zm2.45598.87442c0 .45424.14497.82142.43492 1.10153.29847.27255.68648.40882 1.16403.40882.47755 0 .85703-.14006 1.13845-.42017.28141-.28012.42212-.65487.42212-1.12425v-.84035c0-.45424-.14071-.82142-.42212-1.10154-.28142-.28011-.66943-.42017-1.16403-.42017-.46903 0-.84851.14006-1.13845.42017-.28995.27255-.43492.65487-.43492 1.14696v.829zm6.44695 8.42621c0-1.0221.37522-1.8435 1.12567-2.4643.7504-.62836 1.7226-.94254 2.9165-.94254 1.2109 0 2.1873.3104 2.9292.93124.7505.6132 1.1257 1.4611 1.1257 2.5437v.8176c0 1.0145-.3667 1.8359-1.1001 2.4643-.7334.6208-1.7098.9312-2.9292.9312-1.228 0-2.213-.3142-2.9549-.9425-.74191-.6284-1.11287-1.4612-1.11287-2.4984v-.8403zm2.45597.8857c0 .4164.1535.7723.4605 1.0675.307.2953.6908.4429 1.1513.4429 1.0403 0 1.5605-.511 1.5605-1.5331v-.863c0-.4543-.1449-.8177-.4349-1.0902-.2899-.2801-.6737-.4202-1.1512-.4202-.4776 0-.8613.1401-1.1513.4202-.2899.2725-.4349.6473-.4349 1.1242v.8517zm-6.57485 1.9306l-1.80361-.8631L12.0752 1.74883l1.8037.86306L4.78405 15.5351z')
