.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 27px;
  height: 27px;
  border-radius: 27px;

  svg {
    display: block;
    fill: currentColor;
  }

  &--fire {
    color: #fff;
    background-color: #ff0000;
  }

  &--new {
    color: #265299;
    background-color: #ffc700;
  }

  &--discount {
    color: #00c2eb;
    background-color: #fff;
  }
}
