.feedback {
  padding: 20px;
  background-color: #fff;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &__data-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 0 15px;
    list-style: none;
  }

  &__data-item {
    padding: 5px 10px;
    margin: 0 5px 5px 0;
    font-size: 14px;
    line-height: 20px;

    &--rate {
      font-weight: 500;
      color: #fff;
      background-color: #2d771b;
      border-radius: 4px;
    }

    &--quotee {
      font-weight: 500;
    }

    &--visit,
    &--added {
      opacity: 0.5;
    }
  }

  &__title {
    margin: 0 0 10px;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
  }

  &__text {
    font-size: 16px;
    line-height: 24px;
  }

  &__read-more {
    padding: 0;
    margin: 10px 0 0;
    color: #0077ca;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 0;
  }
}
