mixin feedback(props)

  -
    if (typeof(props) === 'undefined') {
      var props = {};
    }

    var allMods = '';
    if (typeof(props.mods) !== 'undefined' && props.mods) {
      var modsList = props.mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' feedback--' + modsList[i].trim();
      }
    }

  article.feedback(class=allMods)&attributes(attributes)
    ul.feedback__data-list
      li.feedback__data-item.feedback__data-item--rate!= props.rate
      li.feedback__data-item.feedback__data-item--quotee!= props.quotee
      li.feedback__data-item.feedback__data-item--visit!= props.visit
      li.feedback__data-item.feedback__data-item--added!= props.added
    h3.feedback__title Спокойный отель
    .feedback__text
      p Всё ускоряющаяся эволюция компьютерных технологий предъявила жёсткие требования к производителям как собственно вычислительной техники, так и периферийных устройств.
      button.feedback__read-more(type='button') Читать дальше