mixin modal

  .modal(id='modal', style='display: none; width: 500px;')
    h2.modal__title
      | Оставьте заявку
      br
      | и мы вам перезвоним!
    +form()
      +field-text({
        title: 'title',
        mods: '',
        val: '',
        attrs: {
          name: 'comment',
        }
      })
      +field-text({
        title: 'title',
        mods: '',
        val: '',
        attrs: {
          name: 'comment',
        }
      })
      +field-actions()
        a.modal__submit(href='/')
          | Отправить
          svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 20 20', width='20', height='20')
            path(d='M0 0l20 10.2669-5.9821 2.9364L3.90929 4.28131 11.7843 14.271 12.1532 20l-3.72908-4.1068-4.24039 2.0534L0 0z')
