.modal {

  &__title {
    margin: 0 0 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4em;
    text-transform: uppercase;
    letter-spacing: 0.02em;

    @media (min-width: $screen-sm) {
      margin: 0 0 30px;
      font-size: 28px;
    }
  }

  &__submit {
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    padding: 13px 20px;
    margin: 10px 0 0;
    overflow: hidden;
    font-family: $font-f;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.4em;
    color: #3b68b0;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-color: #ffc700;
    background-image: none;
    transition: all 250ms $transition-t;

    svg {
      display: block;
      margin-left: 10px;
      fill: currentColor;
    }
  }
}
