.about-company {
  @include s-padding;

  &__container {
    @include container;
  }

  &__title {
    margin: 0 0 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4em;
    text-transform: uppercase;
    letter-spacing: 0.02em;

    @media (min-width: $screen-sm) {
      margin: 0 0 30px;
      font-size: 28px;
    }
  }
}
