.tour {
  padding: 40px 20px;

  &__container {
    @include container;
    display: grid;
    gap: 20px;
    grid-template: 'main' 'side' / 1fr;

    @media (min-width: $screen-sm) {
      gap: 40px;
      grid-template: 'main side' / 8fr 4fr;
    }
  }

  &__main {
    display: grid;
    grid-area: main;
    grid-template:
      'title'
      'media'
      'dates'
      'duration'
      'accommodation '
      'route'
      'specific-dates'
      'include'
      'additionally-paid'
      'schedule'
      'hotels'
      'vehicles' / 1fr;
    gap: 20px;

    @media (min-width: $screen-xs) {
      grid-template:
        'title title'
        'media media'
        'dates duration'
        'accommodation accommodation'
        'route route'
        'specific-dates specific-dates'
        'include additionally-paid'
        'schedule schedule'
        'hotels hotels'
        'vehicles vehicles' / 1fr 1fr;
      gap: 20px;
    }

    @media (min-width: $screen-md) {
      grid-template:
        'title title title title title title'
        'media media media media media media'
        'dates dates duration duration accommodation accommodation'
        'route route route route route route'
        'specific-dates specific-dates specific-dates specific-dates specific-dates specific-dates'
        'include include include additionally-paid additionally-paid additionally-paid'
        'schedule schedule schedule schedule schedule schedule'
        'hotels hotels hotels hotels hotels hotels'
        'vehicles vehicles vehicles vehicles vehicles vehicles' / 1fr 1fr 1fr 1fr 1fr 1fr;
      gap: 20px;
    }
  }

  &__title {
    grid-area: title;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4em;
    text-transform: uppercase;
    letter-spacing: 0.02em;

    @media (min-width: $screen-sm) {
      font-size: 28px;
    }
  }

  &__media {
    position: relative;
    grid-area: media;
    height: 300px;

    img {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media (min-width: $screen-sm) {
      height: 400px;
    }
  }

  &__section {
    padding: 20px;
    background-color: #f6fafd;
    overflow: hidden;

    &--dates {
      grid-area: dates;
    }

    &--duration {
      grid-area: duration;
    }

    &--accommodation {
      grid-area: accommodation;
    }

    &--route {
      grid-area: route;
    }

    &--specific-dates {
      grid-area: specific-dates;
    }

    &--include {
      grid-area: include;
    }

    &--additionally-paid {
      grid-area: additionally-paid;
    }

    &--schedule {
      grid-area: schedule;
    }

    &--hotels {
      grid-area: hotels;
    }

    &--vehicles {
      grid-area: vehicles;
    }
  }

  &__section-title {
    margin: 0 0 15px;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
  }

  &__section-caption {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0 0 20px;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;

    svg {
      display: block;
      margin-right: 10px;
    }
  }



  &__accommodation-types {
    padding: 0;
    margin: 0;
    columns: 2;
    list-style: none;
    gap: 0;
  }

  &__accommodation-type {
    padding: 0 15px 0 0;
    margin: 0;
  }

  &__accommodation-type-caption {
    margin: 0 0 3px;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
  }

  &__accommodation-type-info {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;

    span {
      font-weight: 400;
    }
  }



  &__route-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    background: radial-gradient(
      circle at 5px 5px,
      #3c68b1 1px,
      transparent 2px,
      transparent 8px
    );
    background-position: 0 8px;
    background-size: 8px 32px;
    margin: 0 -20px;
    padding: 0 20px;
    position: relative;

    li {
      padding: 3px 13px;
      margin: 0 30px 6px 0;
      font-size: 16px;
      line-height: 20px;
      background: #fff;
      box-shadow: 0 2px 3px rgba(130, 130, 130, 0.1);

      &:first-child {
        position: relative;

        &::before {
          position: absolute;
          content: '';
          top: 0;
          right: 100%;
          width: 20px;
          bottom: 0;
          background-color: #f6fafd;
        }
      }

      &:last-child {
        position: relative;

        &::after {
          position: absolute;
          content: '';
          top: 0;
          bottom: 0;
          left: 100%;
          width: 75vh;
          background-color: #f6fafd;
        }
      }
    }
  }



  &__specific-dates-caption {
    margin: 0 0 6px;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
  }

  &__specific-dates-list {
    margin: 0;
    columns: 2;
    gap: 0;
  }

  &__specific-dates-item {
    padding-right: 10px;
    margin-bottom: 6px;
    font-size: 13px;
    line-height: 16px;
  }

  &__specific-dates-num {
    display: inline-block;
    width: 5ch;
    font-weight: 700;
  }

  &__specific-dates-dates {
    display: inline-block;
    margin: 0;
  }



  &__include-list {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      position: relative;
      padding: 0;
      padding-left: 18px;
      margin: 0;
      font-size: 13px;
      line-height: 16px;

      &::before {
        position: absolute;
        top: 2px;
        left: 0;
        width: 12px;
        height: 12px;
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 12 12'%3E%3Cpath fill='%233ECD0B' fill-rule='evenodd' d='M6 0c3.31371 0 6 2.68629 6 6s-2.68629 6-6 6-6-2.68629-6-6 2.68629-6 6-6zm2.29289 3.29289L5 6.58579l-1.29289-1.2929c-.39053-.39052-1.02369-.39052-1.41422 0-.39052.39053-.39052 1.02369 0 1.41422l2 2c.39053.39052 1.02369.39052 1.41422 0l4-4c.39049-.39053.39049-1.02369 0-1.41422-.39053-.39052-1.02369-.39052-1.41422 0z' clip-rule='evenodd'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }

      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }



  &__additionally-paid-list {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      position: relative;
      padding: 0;
      padding-left: 18px;
      margin: 0;
      font-size: 13px;
      line-height: 16px;

      &::before {
        position: absolute;
        top: 2px;
        left: 0;
        width: 12px;
        height: 12px;
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 12 12'%3E%3Cpath fill='%23E3580A' fill-rule='evenodd' d='M6 0c3.31371 0 6 2.68629 6 6s-2.68629 6-6 6-6-2.68629-6-6 2.68629-6 6-6zm0 8c-.55228 0-1 .44772-1 1s.44772 1 1 1 1-.44772 1-1-.44772-1-1-1zm0-6c-.51284 0-.93551.38604-.99327.88338L5 3v3c0 .55228.44772 1 1 1 .51284 0 .93551-.38604.99327-.88338L7 6V3c0-.55228-.44772-1-1-1z' clip-rule='evenodd'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }

      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }



  &__schedule {
    position: relative;
    padding: 0;
    margin: 30px 0 0;
    list-style: none;

    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 6px;
      content: '';
      border-left: 4px dotted rgba(#3c68b1, 0.7);
    }
  }

  &__day {
    position: relative;
    padding: 0 0 0 30px;
    margin: 0;

    &::before {
      position: absolute;
      top: 0;
      left: 2px;
      width: 12px;
      height: 12px;
      content: '';
      background-color: #00c2eb;
      border-radius: 12px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__day-num {
    display: inline-block;
    padding: 3px 13px;
    margin: 0 0 10px;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    background-color: #3c68b1;
    box-shadow: $box-shadow;
    transform: translateY(-8px);
  }

  &__day-media {
    position: relative;
    height: 250px;
    margin-bottom: 20px;

    img {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__day-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 13px;
    line-height: 16px;
  }

  &__day-caption {
    margin: 0 0 6px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
  }

  &__day-info-block {
    padding: 0 30px 0 0;
    margin-bottom: 20px;

    &--route,
    &--food,
    &--guide {
      flex: 0 0 auto;
      width: auto;
      max-width: 100%;
    }

    &--desc {
      flex: 0 0 auto;
      width: 100%;
      max-width: 100%;
    }
  }



  &__text {
    font-size: 13px;
    line-height: 16px;
  }


  &__side {
    grid-area: side;
  }

  &__side-block {

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &--page-nav {

      @media (max-width: ($screen-sm - 1px)) {
        display: none;
      }
    }
  }
}
