.promo {

  &__container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
  }

  &__slider {
    position: relative;
    overflow: hidden;
  }

  &__slide {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
  }

  &__slide-wrap {
    position: relative;
    text-align: center;
  }

  &__slide-info {
    position: relative;
    z-index: 3;
    max-width: 270px;
    padding: 30px;
    color: #fff;
  }

  &__slide-title {
    margin: 0 0 15px;
    font-size: 16px;
    font-weight: 900;
    line-height: 1.3em;
    text-transform: uppercase;
  }

  &__slide-learn-more {
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    padding: 13px 20px;
    margin: 10px 0 0;
    overflow: hidden;
    font-family: $font-f;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.4em;
    color: #fff;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    background-image: none;
    border: 1px solid #fff;
    transition: all 250ms $transition-t;

    svg {
      display: block;
      margin-left: 10px;
      fill: currentColor;
    }

    &:hover {
      color: #3b68b0;
      background-color: #ffc700;
      border-color: #ffc700;
    }
  }

  &__slide-info-field {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-color: #3b68b0;
    mix-blend-mode: multiply;
  }

  &__slide-media {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__slider-pagination {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;

    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      margin: 0 5px;
      background-color: transparent;
      border: 2px solid #fff;
      border-radius: 10px;
      opacity: 1;
    }

    .swiper-pagination-bullet-active {
      background-color: #fff;
    }
  }
}
