.article-card {
  position: relative;
  display: block;
  overflow: hidden;

  &__intro {
    position: absolute;
    top: 0;
    right: 50%;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    align-items: flex-end;
    padding: 20px 45px 20px 20px;
    color: #000;
    background-color: #fff;
    clip-path: polygon(0 0, 50% 0, 100% 100%, 0% 100%);
  }

  &__title {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.3em;
  }

  &__media {
    position: relative;
    z-index: 1;
    height: 270px;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
