mixin article-card(props)

  -
    if (typeof(props) === 'undefined') {
      var props = {};
    }

    var allMods = '';
    if (typeof(props.mods) !== 'undefined' && props.mods) {
      var modsList = props.mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' article-card--' + modsList[i].trim();
      }
    }

  a.article-card(href='/', class=allMods)&attributes(attributes)
    .article-card__intro
      h3.article-card__title!= props.title
    .article-card__media
      img(src=props.media, alt='')