.news {
  @include s-padding;
  overflow: hidden;
  color: #fff;
  background-color: #3b68b0;

  &__container {
    @include container;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__title {
    flex: 1 0 0%;
    width: 100%;
    max-width: 100%;
    margin: 0 0 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4em;
    text-transform: uppercase;
    letter-spacing: 0.02em;

    @media (min-width: $screen-sm) {
      margin: 0 0 30px;
      font-size: 28px;
    }
  }

  &__slider-nav {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  &__slider {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  &__actions {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    margin-top: 30px;
  }

  &__show-more {
    display: inline-flex;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.4em;
    color: #fff;
    text-decoration: underline;
  }
}
