mixin slider-nav(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' slider-nav--' + modsList[i].trim();
      }
    }

  .slider-nav(class=allMods)&attributes(attributes)
    button.slider-nav__btn.slider-nav__btn--prev
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 16 13', width='16', height='13')
        path(d='M0 6.5h15m0 0L9.5 1M15 6.5L9.5 12')
    button.slider-nav__btn.slider-nav__btn--next
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 16 13', width='16', height='13')
        path(d='M0 6.5h15m0 0L9.5 1M15 6.5L9.5 12')