.slider-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  .swiper-button-disabled {
    opacity: 0.25;
  }

  &__btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
    color: currentColor;
    vertical-align: middle;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid currentColor;
    outline: none;
    transition: all 125ms $transition-t;

    svg {
      stroke: currentColor;
    }

    &--prev {
      margin-right: 5px;

      svg {
        transform: rotate3d(0, 0, 1, 180deg);
      }
    }
  }
}
