mixin tour-card(props)

  -
    if (typeof(props) === 'undefined') {
      var props = {};
    }

    var allMods = '';
    if (typeof(props.mods) !== 'undefined' && props.mods) {
      var modsList = props.mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' tour-card--' + modsList[i].trim();
      }
    }

  .tour-card(class=allMods)&attributes(attributes)

    .tour-card__dates
      .tour-card__from
        .tour-card__date 18
        .tour-card__month(data-day='Cр') Авг
      .tour-card__duration
        svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 8 9', width='8', height='9')
          path(fill='#ffc700', d='M7.93603 6.5124c-.07679-.099-.20573-.1356-.3192-.093-.31806.1194-.66306.1806-1.02639.1806-1.73816 0-3.15195-1.4808-3.15195-3.3 0-1.095.51635-2.1144 1.38113-2.7276.09799-.0696.14499-.195.11862-.3156C4.91188.1362 4.81732.045 4.69984.027 4.56574.0066 4.43221 0 4.29811 0 1.92785 0 0 2.0184 0 4.5S1.92785 9 4.29811 9c1.50434 0 2.87286-.8004 3.6597-2.1408.06361-.1086.05444-.2472-.02178-.3468z')
        span 7
        |  ночей
      .tour-card__till
        .tour-card__date 25
        .tour-card__month(data-day='Cр') Авг

    dl.tour-card__conditions
      .tour-card__condition
        dt.tour-card__condition-type BB
        dd.tour-card__condition-desc Только завтраки
      .tour-card__condition
        dt.tour-card__condition-type DBL
        dd.tour-card__condition-desc Двухместный номер Standard

    .tour-card__operator Меркурий

    .tour-card__price
      .tour-card__full-price 105 589 ₽
      .tour-card__price-per-day
        span 15 021 ₽
        |  за ночь