.tour-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background: #fff;
  box-shadow: $box-shadow;

  &:not(:last-child) {
    margin-bottom: 5px;
  }

  @media (min-width: $screen-lg) {
    flex-wrap: nowrap;
  }

  &__dates {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    padding-right: 30px;
    margin: 0 0 10px;
    white-space: nowrap;

    @media (min-width: $screen-xs) {
      width: auto;
    }

    @media (min-width: $screen-lg) {
      flex: 1 0 0%;
      width: 100%;
      margin: 0;
    }
  }

  &__from {
    position: relative;
    padding-right: 15px;
  }

  &__duration {
    font-size: 8px;
    font-weight: 600;
    line-height: 16px;
    color: #c4c4c4;
    border-bottom: 1px dotted #c4c4c4;

    span {
      font-size: 12px;
      font-weight: 700px;
    }

    svg {
      display: inline-block;
      margin-right: 5px;
      vertical-align: baseline;
    }
  }

  &__till {
    padding-left: 15px;
  }

  &__date {
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    color: #3b68b0;
  }

  &__month {
    position: relative;
    margin: 0;
    font-size: 10px;
    line-height: 14px;
    text-transform: uppercase;
    white-space: nowrap;

    &::after {
      position: absolute;
      top: 0;
      left: 100%;
      color: #c4c4c4;
      content: attr(data-day);
    }
  }



  &__conditions {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 100%;
    padding-right: 15px;
    margin: 0 0 10px;

    @media (min-width: $screen-xs) {
      width: auto;
    }

    @media (min-width: $screen-lg) {
      flex: 1 0 0%;
      width: 100%;
      margin: 0;
    }
  }

  &__condition {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
  }

  &__condition-type {
    padding: 0 5px 0 0;
    margin: 0;
    white-space: nowrap;
  }

  &__condition-desc {
    margin: 0;
    color: #c4c4c4;
    word-break: normal;
  }



  &__operator {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
    padding-right: 15px;
    margin: 0 0 10px;
    font-size: 12px;
    line-height: 1.5em;
    white-space: nowrap;

    @media (min-width: $screen-xs) {
      width: auto;
    }

    @media (min-width: $screen-lg) {
      flex: 1 0 0%;
      width: 100%;
      margin: 0;
    }
  }



  &__price {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
    text-align: center;

    @media (min-width: $screen-xs) {
      width: auto;
    }

    @media (min-width: $screen-lg) {
      flex: 1 0 0%;
      width: 100%;
      margin: 0;
    }
  }

  &__full-price {
    padding: 4px 8px;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    color: #3b68b0;
    white-space: nowrap;
    background-color: #ffc700;
  }

  &__price-per-day {
    font-size: 12px;
    line-height: 12px;
    color: #c4c4c4;

    span {
      font-weight: 700;
    }
  }
}
