mixin excursion-tour-card(props)

  -
    if (typeof(props) === 'undefined') {
      var props = {};
    }

    var allMods = '';
    if (typeof(props.mods) !== 'undefined' && props.mods) {
      var modsList = props.mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' excursion-tour-card--' + modsList[i].trim();
      }
    }

  .excursion-tour-card(class=allMods)&attributes(attributes)
    .excursion-tour-card__info
      a.excursion-tour-card__title(href='/')!= props.title
      .excursion-tour-card__dates 02.10-27.11
      .excursion-tour-card__duration 8 дней / 7 ночей

      if (props.badge)
        +badge(props.badge).excursion-tour-card__badge

      .excursion-tour-card__price от 46 000 р
      a.excursion-tour-card__buy(href='/') Купить
    .excursion-tour-card__media
      img(src=props.media, alt='')