@use 'sass:math';

.excursion-tour-card {
  position: relative;
  z-index: 1;
  display: block;
  overflow: hidden;
  text-decoration: none;

  &::after {
    display: block;
    padding-bottom: math.div(3, 4) * 100%;
    content: '';
  }

  &__info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 15px;
    color: #fff;
    background-color: #3b68b0;
  }

  &__title {
    margin: 0 0 5px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.4em;
    color: #fff;
    text-decoration: underline;
    transition: all 250ms $transition-t;

    &:hover {
      color: #ffc700;
    }
  }

  &__dates {
    margin: 0 0 15px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.4em;
  }

  &__duration {
    padding: 5px 10px;
    font-size: 8px;
    line-height: 1.4em;
    color: #265299;
    background-color: hsla(0, 0%, 100%, 0.8);
  }

  &__badge {
    margin-top: 20px;
  }

  &__price {
    margin: auto 0 15px;
    font-size: 10px;
    font-weight: 600;
  }

  &__buy {
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    padding: 5px 10px;
    margin: 0;
    overflow: hidden;
    font-family: $font-f;
    font-size: 10px;
    font-weight: 700;
    line-height: 1.45em;
    color: #3b68b0;
    text-align: center;
    text-decoration: none;
    text-transform: lowercase;
    letter-spacing: 0.01em;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-color: #ffc700;
    background-image: none;
    border: none;
    transition: all 250ms $transition-t;

    &:hover {
      box-shadow: 0 4px 4px rgba(#000, 0.25);
    }
  }

  &__media {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
