.excursion-tours {
  @include s-padding;
  background-color: #f8f8f8;

  &__container {
    @include container;
  }

  &__title {
    margin: 0 0 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4em;
    text-transform: uppercase;
    letter-spacing: 0.02em;

    @media (min-width: $screen-sm) {
      margin: 0 0 30px;
      font-size: 28px;
    }
  }

  &__list {
    display: grid;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    @media (min-width: $screen-xs) {
      gap: 20px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
    }

    @media (min-width: $screen-md) {
      gap: 20px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
    }
  }

  &__item {
    padding: 0;
    margin: 0;
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }

  &__show-more {
    display: inline-flex;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.4em;
    color: #265299;
    text-decoration: underline;
    transition: all 250ms $transition-t;

    &:hover,
    &:focus {
      color: #40bfea;
    }
  }
}
