.page-header {

  &__container {
    @include container;
  }

  &__top {
    padding: 10px 20px;
    color: #000;
    background-color: #fff;

    @media (min-width: $screen-sm) {
      padding: 15px 20px;
    }
  }

  &__info {

    @media (max-width: ($screen-sm - 1px)) {
      display: flex;
      align-items: center;
    }

    @media (min-width: $screen-sm) {
      display: grid;
      gap: 20px;
      grid-template: 'logo main' 'logo meta' / auto 1fr;
    }
  }

  &__logo {

    @media (max-width: ($screen-sm - 1px)) {
      margin-right: auto;

      img {
        width: 120px;
        height: auto;
      }
    }

    @media (min-width: $screen-sm) {
      grid-area: logo;
      align-self: center;
    }
  }

  &__main {
    display: none;

    @media (min-width: $screen-sm) {
      display: flex;
      grid-area: main;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-end;
    }
  }

  &__additional-nav {
    display: none;
    margin-right: 30px;

    @media (min-width: $screen-md) {
      display: block;
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }

    li {
      padding: 0;
      margin: 0;
    }

    a {
      display: block;
      color: currentColor;
      text-decoration: none;
      transition: all 250ms $transition-t;
    }

    > ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      > li {
        position: relative;
        padding: 0;
        margin: 0;
        font-size: 14px;
        line-height: 1.4em;

        &:not(:last-child) {
          margin-right: 30px;
        }

        &[aria-haspopup='true'] {
          padding-right: 15px;

          &::after {
            position: absolute;
            top: 50%;
            right: 0;
            display: block;
            width: 8px;
            height: 4px;
            content: '';
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 10 6'%3E%3Cpath stroke='%2300C2EB' d='M1 1l4.14815 4L9 1'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            transform: translateY(-50%);
          }

          ul {
            position: absolute;
            left: -20px;
            z-index: 100;
            display: none;
            min-width: 200px;
            padding: 0 20px;
            margin-top: 10px;
            visibility: hidden;
            background: #fff;
            box-shadow: 0 4px 10px rgba(#000, 0.25);
            opacity: 0;
            transition: all 0.5s ease;

            &::before {
              position: absolute;
              top: -10px;
              right: 0;
              bottom: 0;
              left: 0;
              z-index: -1;
              content: '';
            }

            li {

              &:not(:last-child) {
                border-bottom: 1px solid #aaa;
              }

              a {
                display: block;
                padding: 15px 0;
                color: currentColor;
                text-decoration: none;
                transition: all 250ms $transition-t;

                &:hover,
                &:focus {
                  color: #40bfea;
                }
              }
            }
          }

          &:hover,
          &:focus {

            &::after {
              transform: translateY(-50%) rotate(180deg);
            }
          }

          &:hover > ul,
          &:focus-within > ul,
          & ul:hover,
          & ul:focus {
            display: block;
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }

  &__free-call {
    display: block;
    margin-right: 30px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.4em;
    color: #3b68b0;
    text-decoration: none;
  }

  &__sign-in {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4em;
    color: #00c2eb;
    text-decoration: none;
    white-space: nowrap;

    svg {
      display: block;
      margin-right: 5px;
      fill: currentColor;
    }
  }

  &__meta {
    display: none;

    ul {
      display: flex;
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        padding: 0;
        margin: 0;
        font-size: 12px;
        line-height: 1.4em;

        &:not(:last-child) {
          margin-right: 20px;
        }

        span {
          font-weight: 700;
        }
      }
    }

    @media (min-width: $screen-sm) {
      display: flex;
      grid-area: meta;
      justify-content: flex-end;
    }
  }

  &__burger {
    position: relative;
    display: block;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    border-radius: 0;
    outline: none;

    &::after {
      position: absolute;
      top: -0.5em;
      right: -0.5em;
      bottom: -0.5em;
      left: -0.5em;
      content: '';
    }

    @media (min-width: $screen-sm) {
      display: none;
    }

    svg {
      display: block;
    }
  }

  &__bottom {
    color: #fff;
    background-color: #3b68b0;

    @media (max-width: ($screen-sm - 1px)) {
      display: none;
    }
  }

  &__global-nav {

    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        position: relative;
        padding: 0;
        margin: 0;
        font-size: 17px;
        line-height: 1.4em;

        &:not(:last-child) {

          &::after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 1px;
            content: '';
            background-color: #00c2eb;
          }
        }

        a,
        span {
          display: block;
          padding: 15px 30px;
          font-weight: 700;
          color: currentColor;
          text-decoration: none;
          transition: all 250ms $transition-t;
        }

        a {

          &:hover,
          &:focus {
            background-color: #00c2eb;
          }
        }

        span {
          cursor: default;
          background-color: #00c2eb;
        }
      }
    }
  }
}
