mixin page-header(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' page-header--' + modsList[i].trim();
      }
    }

  header.page-header(class=allMods)&attributes(attributes)
    .page-header__top
      .page-header__container

        .page-header__info

          .page-header__logo
            a.logo(href='/')
              img(src='img/logo.svg', alt='', width='170', height='50')

          .page-header__main
            .page-header__additional-nav
              ul
                li(aria-haspopup='true')
                  a(href='/') Страны
                  ul(aria-label='submenu')
                    li
                      a(href='/') Мальдивы
                    li
                      a(href='/') Турция
                    li
                      a(href='/') Грузия
                    li
                      a(href='/') Россия
                    li
                      a(href='/') Греция
                li
                  a(href='/') Агентствам
                li
                  a(href='/') Туристам
                li
                  a(href='/') О компании
            a.page-header__free-call(href='tel:+78005517042') 8 (800) 551-70-42
            a.page-header__sign-in(href='/')
              svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 15 17', width='15', height='17')
                path(fill='#00C2EB', d='M6.8985 8.18789c1.11096 0 2.07116-.40508 2.85768-1.19863.78652-.79688 1.18302-1.76973 1.18302-2.89531 0-1.12559-.3998-2.09844-1.18302-2.89532C8.96966.401758 8.00946 0 6.8985 0 5.78754 0 4.82734.405078 4.04082 1.19863c-.78651.79356-1.18633 1.76973-1.18633 2.89532 0 1.12558.39981 2.09843 1.18305 2.89531.78652.79687 1.75 1.19863 2.86096 1.19863zM4.73558 1.90254C5.33857 1.2916 6.04644.996094 6.8985.996094c.85206 0 1.55993.295506 2.16292.906446.603.61094.89467 1.32812.89467 2.19141 0 .86328-.29167 1.58046-.89467 2.1914-.60299.61094-1.31086.90645-2.16292.90645-.85206 0-1.55993-.29551-2.16292-.90645-.603-.61094-.89466-1.32812-.89466-2.1914-.00328-.86329.29166-1.58047.89466-2.19141zM13.9672 13.0721c-.0229-.332-.0688-.694-.1343-1.0758-.0689-.3851-.1573-.7471-.2622-1.0791-.1082-.342-.2556-.684-.4391-1.00605-.1901-.33867-.413-.63085-.662-.87324-.2622-.25234-.5801-.45488-.9504-.60429-.367-.1461-.7767-.22247-1.2126-.22247-.1704 0-.3375.06973-.65538.28223-.19663.12949-.42603.27891-.68493.44824-.21957.14278-.51779.27559-.88483.39512-.35721.11621-.72425.17598-1.08146.17598-.36049 0-.72425-.05977-1.08146-.17598-.36704-.11953-.66526-.25234-.88483-.39512-.25562-.16601-.48502-.31543-.68493-.44824-.32116-.2125-.48502-.28223-.65543-.28223-.43586 0-.8455.07637-1.21254.22247-.37032.14941-.68821.35195-.95038.60429-.24906.24239-.47191.53457-.661984.87324-.183521.32535-.330993.66405-.439139 1.00605-.104869.332-.193352.694-.262172 1.0791-.0688204.3818-.1147005.7438-.1343635 1.0758C.00983146 13.3975 0 13.7362 0 14.0748c0 .8866.278558 1.6071.825843 2.135C1.37313 16.7344 2.09082 17 2.96255 17h8.07815c.8718 0 1.5894-.2656 2.1335-.7869.5505-.5279.8291-1.2484.8291-2.135 0-.3453-.0131-.6806-.0361-1.006zm-1.4714 2.4172c-.3572.3453-.8324.5146-1.4551.5146H2.96255c-.61939 0-1.09457-.1693-1.45506-.5146-.35065-.3387-.521067-.8002-.521067-1.4145 0-.3187.009832-.6342.029497-.9363.01966-.2955.06226-.6209.12453-.9662.05899-.342.13764-.6608.2294-.9529.08848-.2789.20646-.5545.35721-.8202.14092-.2523.30478-.47144.48502-.6441.16713-.1627.38015-.29883.63249-.39844.23268-.09297.49157-.14277.77341-.15273.03605.01992.09504.05312.19663.11953.20318.13281.43586.28555.69148.45156.29166.18594.66526.35858 1.11095.50468.45553.1494.92416.2258 1.38624.2258.46208 0 .92743-.0764 1.38623-.2258.4457-.1461.82257-.31542 1.11096-.50468.26217-.16933.49157-.31875.69143-.45156.0984-.06641.1606-.09961.1967-.11953.2818.00664.544.05976.7734.15273.249.09961.4621.23574.6325.39844.1802.17598.3441.3918.485.6441.1475.2657.2687.5413.3572.8202.0918.2921.1704.6109.2294.9529.0623.3453.1016.6707.1245.9662.0197.3021.0328.6143.0328.933-.0033.6176-.177 1.0791-.5276 1.4178z')
              | Войти

          .page-header__meta
            ul
              li
                span Вторник
                |  15.06
              li
                span USD
                |  73.47
              li
                span EUR
                |  89.51

          button.page-header__burger
            svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 40 18', width='40', height='18')
              path(stroke='#3B68B0', stroke-linejoin='round', stroke-width='2', d='M16 17h24M16 1h24')
              path(fill='#40BFEA', d='M12.1884 3L0 7.9691 8.8431 13 10 10l30-.00001v-2L3 8l7.9358-1.20558L12.1884 3z')

    .page-header__bottom
      .page-header__container
        nav.page-header__global-nav
          ul
            li: span Поиск тура
            li: a(href='/') Отели
            li: a(href='/') Авиа
            li: a(href='/') Экскурсии
            li: a(href='/') Акции
