.filters {

  &__block {
    position: relative;
    padding: 10px 15px;
    background-color: #fff;
    box-shadow: $box-shadow;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__title {
    padding-right: 75px;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }

  &__clear {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0;
    margin: 0;
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    white-space: nowrap;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 0;

    svg {
      display: block;
      margin-right: 5px;
      transform: translateY(-2px);
    }

    span {
      display: block;
    }
  }
}
