mixin filters()

  mixin clear()
    button.filters__clear(type='button')
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 10 13', width='10', height='13')
        path(fill='#00C2EB', fill-rule='evenodd', d='M2.29289 3.29288l2-2c.60258-.602571 1.61429-.22056 1.70113.59348L6 1.99999l.00119 1.10026C8.28284 3.56398 10 5.58145 10 7.99999 10 10.7614 7.76142 13 5 13s-5-2.2386-5-5.00001c0-.55228.447715-1 1-1 .55228 0 1 .44772 1 1C2 9.65685 3.34315 11 5 11s3-1.34315 3-3.00001c0-1.30588-.83438-2.41688-1.9991-2.82898L6 5.99999c0 .85217-.98551 1.29743-1.62253.78323l-.08458-.07612-2-2c-.36048-.36049-.38821-.92772-.08319-1.32001l.08319-.09421 2-2-2 2z', clip-rule='evenodd')
      span Любая

  form.filters

    .filters__block
      +clear()
      h3.filters__title Дата вылета
      +field-checkbox([
        {
          title: '18 авг, ср <span>от 108 346 ₽</span>',
          mods: 'accent',
          attrs: { checked: true }
        },
        {
          title: '19 авг, чт <span>от 108 346 ₽</span>',
          mods: 'accent'
        },
        {
          title: '20 авг, пт <span>от 108 346 ₽</span>',
          mods: 'accent'
        },
        {
          title: '21 авг, сб <span>от 108 346 ₽</span>',
          mods: 'accent'
        }
      ], 'grid')

    .filters__block
      +clear()
      h3.filters__title Длительность
      +field-checkbox([
        {
          title: '7 ночей <span>от 108 346 ₽</span>',
          mods: 'accent',
          attrs: { checked: true }
        },
        {
          title: '8 ночей <span>от 108 346 ₽</span>',
          mods: 'accent'
        },
        {
          title: '9 ночей <span>от 108 346 ₽</span>',
          mods: 'accent'
        },
        {
          title: '10 ночей <span>от 108 346 ₽</span>',
          mods: 'accent'
        }
      ], 'grid')

    .filters__block
      h3.filters__title Питание
      +field-checkbox([
        {
          title: 'Любой',
          caption: 'от 108 346 ₽',
          attrs: { checked: true }
        },
        {
          title: '<span>BB</span>, Только завтраки',
          caption: 'от 108 346 ₽'
        },
        {
          title: '<span>AI</span>, Всё включено',
          caption: 'от 165 346 ₽'
        },
        {
          title: '<span>UAI</span>, Всё включено-ультра',
          caption: 'от 365 346 ₽'
        }
      ])

    .filters__block
      h3.filters__title Номер
      +field-checkbox([
        {
          title: 'Любой',
          caption: 'от 108 346 ₽',
          attrs: { checked: true }
        },
        {
          title: 'Standard',
          caption: 'от 108 346 ₽'
        },
        {
          title: 'Sea View',
          caption: 'от 165 346 ₽'
        },
        {
          title: 'Двухместный с видом на окрестности',
          caption: 'от 365 346 ₽'
        }
      ])

    .filters__block
      h3.filters__title Туроператор
      +field-checkbox([
        {
          title: 'Любой',
          caption: 'от 108 346 ₽',
          attrs: { checked: true }
        },
        {
          title: 'Anex',
          caption: 'от 108 346 ₽'
        },
        {
          title: 'TUI',
          caption: 'от 115 589 ₽'
        },
        {
          title: 'Tez Tour',
          caption: 'от 165 589 ₽'
        },
        {
          title: 'Меркурий',
          caption: 'от 105 589 ₽'
        }
      ])