.page-nav {
  padding: 20px;
  background-color: #f6fafd;

  &__title {
    margin: 0 0 15px;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      padding: 0;
      margin: 0;
      font-size: 17px;
      line-height: 21px;
      border-bottom: 1px solid rgba(#000, 0.125);
    }

    a {
      display: inline-block;
      padding: 10px 0;
      color: #3b68b0;
      text-decoration: none;
    }
  }

  &__order {
    width: 100%;
    margin-top: 15px;
  }
}
