.accordion {

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    padding: 1rem 1.25em;
    margin: 0;
    background-color: $bg-c--shade;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  &__link {
    position: relative;
    max-width: 45ch;
    font-size: ms(0);
    font-weight: 700;
    line-height: 1.3em;
  }

  &__content {
    max-width: 75ch;
    margin-top: 0.75rem;
    font-size: 0.8em;
    line-height: 1.5em;
  }
}
