.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  overflow: hidden;
  visibility: hidden;
  // transition: visibility 0s linear 0.75s;

  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0;
    // transition: opacity 1.75s $transition-t--faster;
  }

  &__wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    color: #000;
    background-color: #fff;
    // transition: transform .75s $transition-t--faster;
    transform: translateX(100%);
    -webkit-overflow-scrolling: touch;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    // transition: all 1.75s $transition-t--faster;
    opacity: 0;
    transform: translateX(45px);
  }

  &__close {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    padding: 0;
    margin: 0;
    overflow: visible;
    color: currentColor;
    vertical-align: middle;
    cursor: pointer;
    background-color: transparent;
    background-color: #f8f8f8;
    border: none;
    border-radius: 45px;
    outline: none;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: '';
      background-color: #3b68b0;
      border-radius: 45px;
      transform: scale(0);
      // transition: transform 1s $transition-t--faster;
      transform-origin: center center;
    }

    &:hover {

      &::before {
        transform: scale(1.05);
      }

      svg {
        stroke: #fff;
      }

      .mobile-menu__close-icon {
        transform: translateX(0) rotate(90deg);
        // transition-delay: 0.1s;
      }
    }
  }

  &__close-icon {
    position: relative;
    display: inline-block;
    // transition: transform .75s $transition-t--faster;
    flex-shrink: 0;
    pointer-events: none;

    svg {
      display: block;
      width: 15px;
      height: 15px;
      // transition: stroke .75s $transition-t--faster;
      stroke-width: 2px;
      stroke: #000;
    }
  }

  &__main {
    // transition-delay: .2s;
    flex-grow: 1;
    padding: 20px;
    // transition: opacity 1.75s $transition-t--faster,transform 1.75s $transition-t--faster;
    opacity: 0;
    transform: translateX(45px);
  }

  &__actions {
    margin-bottom: 30px;
  }

  &__free-call {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.4em;
    color: #3b68b0;
    text-decoration: none;
  }

  &__sign-in {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4em;
    color: #00c2eb;
    text-decoration: none;
    white-space: nowrap;

    svg {
      display: block;
      margin-right: 5px;
      fill: currentColor;
    }
  }

  &__nav {

    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        padding: 0;
        margin: 0;
        line-height: inherit;

        &:not(:last-child) {
          margin-bottom: 5px;
        }

        a {
          display: inline-block;
          color: currentColor;
          text-decoration: none;
        }
      }
    }

    &--global {
      margin-bottom: 30px;
      font-size: 20px;
      font-weight: 500;
      line-height: 1.2em;
    }

    &--additional {
      font-size: 14px;
      line-height: 1.4em;
    }
  }

  &__footer {
    // transition-delay: .4s;
    flex-shrink: 0;
    padding: 30px;
    // transition: opacity 1.75s $transition-t--faster,transform 1.75s $transition-t--faster;
    opacity: 0;
    transform: translateX(45px);
  }

  &__caption {
    font-size: 12px;
    line-height: 1.5em;
    opacity: 0.5;
  }

  &--is-active {
    visibility: visible;
    // transition-delay: 0s;

    .mobile-menu__bg {
      opacity: 0.2;
    }

    .mobile-menu__wrap,
    .mobile-menu__header,
    .mobile-menu__main,
    .mobile-menu__footer {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
