.directions {
  @include s-padding;

  &__container {
    @include container;
  }

  &__list {
    display: grid;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;

    @media (min-width: $screen-sm) {
      gap: 20px;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
    }

    @media (min-width: $screen-md) {
      gap: 20px;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: auto;
    }
  }

  &__item {
    padding: 0;
    margin: 0;
  }

  &__card {
    display: block;
    height: 100%;
    padding: 15px;
    color: #000;
    text-decoration: none;
    background-color: #fff;

    &:hover,
    &:focus {
      outline: 1px solid #ffc700;
      box-shadow: 0 4px 10px rgba(255, 199, 0, 0.2);
    }
  }

  &__card-figure {
    margin: 0;
  }

  &__card-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    margin: 0 auto 10px;

    img {
      display: block;
    }
  }

  &__card-caption {
    font-size: 14px;
    line-height: 1.3em;
    text-align: center;
  }
}
