.btn {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  margin: 0;
  overflow: hidden;
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: #3b68b0;
  text-align: center;
  text-decoration: none;
  text-transform: lowercase;
  letter-spacing: 0.01em;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-color: #ffca00;
  background-image: none;
  border: none;
  border-radius: 0;
  transition: all 125ms $transition-t;
}
