.article {
  @include s-padding;

  &__container {
    @include container;
    display: grid;
    gap: 45px;
    grid-template: 'main' 'side' / 1fr;

    @media (min-width: $screen-sm) {
      gap: 20px;
      grid-template: 'main side' / 8fr 4fr;
    }
  }

  &__main {
    grid-area: main;
  }

  &__title {
    margin: 0 0 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4em;
    text-transform: uppercase;
    letter-spacing: 0.02em;

    @media (min-width: $screen-sm) {
      margin: 0 0 30px;
      font-size: 28px;
    }
  }

  &__side {
    grid-area: side;
    background-color: $bg-c--shade;
  }
}
