mixin manager(props)

  -
    if (typeof(props) === 'undefined') {
      var props = {};
    }

    var allMods = '';
    if (typeof(props.mods) !== 'undefined' && props.mods) {
      var modsList = props.mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' manager--' + modsList[i].trim();
      }
    }

  article.manager(class=allMods)&attributes(attributes)
    h2.manager__title Менеджер по направлению
    .manager__photo
      img(src='https://images.unsplash.com/photo-1569243355459-c9c603d4db46?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1500&q=80', alt='')
    h3.manager__name Юлия Самышкина
    ul.manager__contacts
      li.manager__contact
        span Почта: &#x20;
        a(href='mailto:') agent@letsfly.travel
      li.manager__contact
        span Телефон: &#x20;
        a(href='tel:') 8 (800) 551-70-42
    ul.manager__actions
      li.manager__action
        +btn('Задай мне вопрос').manager__btn
      li.manager__action
        +btn('Купить тур').manager__btn
      li.manager__action
        a.manager__all-tours(href='/') Посмотреть все туры менеджера