.manager {
  padding: 20px;
  color: #fff;
  background-color: #3c68b1;

  &__title {
    margin: 0 0 15px;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
  }

  &__photo {
    position: relative;
    height: 210px;
    margin-bottom: 15px;

    img {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__name {
    margin: 0 0 15px;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
  }

  &__contacts {
    padding: 0;
    margin: 0 0 15px;
    list-style: none;
  }

  &__contact {
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 24px;

    a {
      color: currentColor;
      text-decoration: none;
    }
  }

  &__actions {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__action {
    padding: 0;
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__btn {
    width: 100%;
  }

  &__all-tours {
    font-size: 16px;
    line-height: 24px;
    color: currentColor;
    text-decoration: none;
  }
}
