.news-subscription {
  @include s-padding;
  color: #fff;
  text-align: center;
  background-color: #3b68b0;

  &__container {
    @include container;
  }

  &__title {
    margin: 0 0 5px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.3em;
    color: #ffc700;

    @media (min-width: $screen-sm) {
      font-size: 36px;
      line-height: 1.2em;
    }
  }

  &__desc {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.4em;
  }

  &__form {
    max-width: 560px;
    margin: 0 auto 15px;
  }

  &__label {
    position: relative;
    display: block;
  }

  &__input {
    display: inline-block;
    width: 100%;
    height: 50px;
    padding: 10px 15px;
    margin: 0;
    font-family: $font-f;
    font-size: 16px;
    line-height: 1.4em;
    color: #717171;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #eaeaea;
    border-radius: 0;

    &::placeholder {
      font-family: $font-f;
      color: #717171;
      opacity: 0.25;
    }

    &:focus {
      border-color: $primary-c;
      outline: none;
    }
  }

  &__submit {
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    padding: 13px 20px;
    margin: 10px 0 0;
    overflow: hidden;
    font-family: $font-f;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.4em;
    color: #fff;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-color: #3b68b0;
    background-image: none;
    border: 1px solid #fff;
    transition: all 250ms $transition-t;

    svg {
      display: block;
      margin-left: 10px;
      fill: currentColor;
    }

    @media (min-width: $screen-sm) {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
    }
  }

  &__privacy {
    font-size: 12px;
    line-height: 1.4em;

    a {
      color: currentColor;
    }
  }
}
