include mixins.pug

doctype html
html(class='no-js page', lang='ru')

  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    //- meta(name='viewport', content='width=device-width, initial-scale=1, viewport-fit=cover')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='format-detection', content='telephone=no')
    meta(name='format-detection', content='date=no')
    meta(name='format-detection', content='address=no')
    meta(name='format-detection', content='email=no')
    meta(name='google', content='notranslate')
    //- meta(name='msapplication-TileColor', content='#5bbad5')
    //- meta(name='theme-color', content='#000')
    //- meta(name='msapplication-navbutton-color', content='#000')
    //- meta(name='apple-mobile-web-app-status-bar-style', content='#000')

    block meta
      title Home

    block head
      link(rel='preconnect', href='https://fonts.googleapis.com')
      link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
      link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap')
      link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/@fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css')
      link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/swiper@6.7.1/swiper-bundle.min.css')
      link(rel='stylesheet', href='https://cdn.jsdelivr.net/gh/cferdinandi/houdini/dist/css/houdini.css')
      link(rel='stylesheet', href='https://cdn.jsdelivr.net/gh/cferdinandi/tabby@12/dist/css/tabby-ui.min.css')
      link(rel='stylesheet', href='css/style.css')
      script.
        document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

  body
    noscript JavaScript is disabled

    //- include ./../blocks/sprite-svg/img/sprite.svg

    .page__inner
      .page__content
        block header
          +page-header
          +mobile-menu

        block content
          p Page Content

      .page__footer-wrapper
        block footer
          +page-footer

    block page-bottom
      script(src='https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js')
      script(src='https://cdn.jsdelivr.net/npm/swiper@6.7.1/swiper-bundle.min.js')
      script(src='https://cdn.jsdelivr.net/npm/@fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js')
      script(src='https://cdn.jsdelivr.net/gh/cferdinandi/houdini@11/dist/js/houdini.polyfills.min.js')
      script(src='https://cdn.jsdelivr.net/gh/cferdinandi/tabby@12/dist/js/tabby.polyfills.min.js')
      script(src='js/main.js')
