include ../blocks/article-card/article-card.pug
include ../blocks/badge/badge.pug
include ../blocks/btn/btn.pug
include ../blocks/excursion-tour-card/excursion-tour-card.pug
include ../blocks/feedback/feedback.pug
include ../blocks/field-actions/field-actions.pug
include ../blocks/field-checkbox/field-checkbox.pug
include ../blocks/field-text/field-text.pug
include ../blocks/filters/filters.pug
include ../blocks/form/form.pug
include ../blocks/hotel-card/hotel-card.pug
include ../blocks/manager/manager.pug
include ../blocks/mobile-menu/mobile-menu.pug
include ../blocks/modal/modal.pug
include ../blocks/offer-card/offer-card.pug
include ../blocks/page-footer/page-footer.pug
include ../blocks/page-header/page-header.pug
include ../blocks/slider-nav/slider-nav.pug
include ../blocks/tour-card/tour-card.pug
