.search {
  @include s-padding;
  position: relative;
  background-color: #3b68b0;

  &::after {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    height: 25vh;
    content: '';
    background-color: #3b68b0;
  }

  &__container {
    @include container;
  }

  &__form {
    display: grid;
    gap: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;

    @media (min-width: $screen-sm) {
      gap: 0;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
    }

    @media (min-width: $screen-md) {
      gap: 0;
      grid-template-columns: repeat(6, 1fr) auto;
      grid-template-rows: auto;
    }
  }

  &__form-select {
    position: relative;
    display: block;
    align-self: center;
    width: 100%;
    font-size: 14px;
    line-height: 1.4em;
    cursor: pointer;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 13 8'%3E%3Cpath stroke='%23717171' d='M1 1l5.7037 6L12 1'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 15px top 50%;
    background-size: 13px 8px;
    border-radius: 0;
    outline: 1px solid #717171;

    select {
      width: 100%;
      padding: 10px 15px;
      margin: 0;
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
      cursor: inherit;
      background-color: transparent;
      border: none;
      outline: none;
      appearance: none;

      &::-ms-expand {
        display: none;
      }
    }
  }

  &__form-actions {
    display: flex;
    grid-column: 1 / span 2;
    justify-content: center;
    padding-top: 10px;

    @media (min-width: $screen-sm) {
      grid-column: 1 / span 3;
    }

    @media (min-width: $screen-md) {
      grid-column: 7 / span 1;
      padding: 0;
      margin-left: 10px;
    }
  }

  &__form-submit {
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    padding: 13px 20px;
    margin: 0;
    overflow: hidden;
    font-family: $font-f;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.4em;
    color: #3b68b0;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-color: #ffc700;
    background-image: none;
    border: none;
    transition: all 250ms $transition-t;

    svg {
      display: block;
      margin-left: 10px;
      fill: currentColor;
    }
  }
}
