extends ../pug/layout.pug

block meta
  - var title = 'Articles';
  title= title
  meta(name='description', content='')

block content
  section.articles
    .articles__container
      h1.articles__title Новости
      ul.articles__list
        li.articles__item
          +article-card({
            title: 'Новые направления для поездок по России',
            media: 'img/article-media-1.jpg'
          })
        li.articles__item
          +article-card({
            title: 'Новые направления для поездок по России',
            media: 'img/article-media-2.jpg'
          })
        li.articles__item
          +article-card({
            title: 'Куда дешевле всего поехать на отдых в январе',
            media: 'img/article-media-3.jpg'
          })
        li.articles__item
          +article-card({
            title: 'Новые направления для поездок по России',
            media: 'img/article-media-1.jpg'
          })
        li.articles__item
          +article-card({
            title: 'Новые направления для поездок по России',
            media: 'img/article-media-1.jpg'
          })
        li.articles__item
          +article-card({
            title: 'Новые направления для поездок по России',
            media: 'img/article-media-2.jpg'
          })
        li.articles__item
          +article-card({
            title: 'Куда дешевле всего поехать на отдых в январе',
            media: 'img/article-media-3.jpg'
          })
        li.articles__item
          +article-card({
            title: 'Новые направления для поездок по России',
            media: 'img/article-media-1.jpg'
          })