extends ../pug/layout.pug

block meta
  - var title = 'Article';
  title= title
  meta(name='description', content='')

block content
  section.article
    .article__container
      .article__main
        h1.article__title Lorem, ipsum dolor sit amet consectetur adipisicing.
        .article__text
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus nulla explicabo quis dolore pariatur ullam reiciendis aliquam ducimus cupiditate adipisci ad rem libero blanditiis, omnis natus quia tenetur deleniti unde.
      .article__side
