extends ../pug/layout.pug

block meta
  - var title = 'Components';
  title= title
  meta(name='description', content='')

block content
  .components
    .components__container
      .components__block
        .accordion
          ul.accordion__list
            li.accordion__item
              a.accordion__link(data-houdini-toggle='yo-ho-ho') Yo, ho ho
              .accordion__content.is-expanded(id='yo-ho-ho', data-houdini-group='pirates')
                p Spanker sloop pink piracy Sink me. Boatswain overhaul mizzenmast ahoy bucko. Holystone mizzen Spanish Main yo-ho-ho long clothes.
            li.accordion__item
              a.accordion__link(data-houdini-toggle='jack-ketch') Jack Ketch
              .accordion__content(id='jack-ketch', data-houdini-group='pirates')
                p Rope&apos;s end lee Jack Ketch reef sails Pieces of Eight. Wench lugger quarter ye Buccaneer. No prey, no pay aye heave to fire in the hole keelhaul.
            li.accordion__item
              a.accordion__link(data-houdini-toggle='buccaneer') Buccaneer
              .accordion__content(id='buccaneer', data-houdini-group='pirates')
                p Me fire ship main sheet gabion Buccaneer. Skysail galleon topsail blow the man down landlubber or just lubber. Swing the lead boom capstan nipper sutler.

      .components__block
        .tabs
          ul(data-tabs='')
            li
              a(data-tabby-default='', href='#harry') Harry Potter
            li
              a(href='#hermione') Hermione
            li
              a(href='#neville') Neville
          #harry 1
          #hermione 2
          #neville 3

      .components__block
        a(href='#modal', data-fancybox='')
          | Modal
        +modal