extends ../pug/layout.pug

block meta
  - var title = 'Hotel';
  title= title
  meta(name='description', content='')

block content
  .hotel
    .hotel__container
      .hotel__main

        h1.hotel__title
          span Отель
          br
          span La Wisteria Boutique Hotel Istanbul
          span.hotel__rating 4

        ul.hotel__labels
          li.hotel__label.hotel__label--location
            svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 10 12', width='10', height='12')
              path(fill-rule='evenodd', d='M5 0c2.75362 0 5 2.37767 5 5.32845 0 1.71516-1.48662 3.87996-4.68512 6.42415L5 12C1.58408 9.34854 0 7.09894 0 5.32845 0 2.37767 2.24638 0 5 0zm0 3.00788c-1.10457 0-2 .89778-2 2.00523 0 1.10746.89543 2.00523 2 2.00523s2-.89777 2-2.00523c0-1.10745-.89543-2.00523-2-2.00523z', clip-rule='evenodd')
            span Стамбул, Турция
          li.hotel__label.hotel__label--popular
            svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 11 14', width='11', height='14')
              path(d='M7.19231 0C3.46017 1.55556 3.80769 5.44444 3.80769 5.44444S2.53846 5.83333 2.75 4.15625C1.10859 5.06406 0 6.80859 0 8.75 0 11.6484 2.46354 14 5.5 14S11 11.6484 11 8.75C11 4.48438 6.34615 4.66667 7.19231 0z')
            span Популярный
          li.hotel__label.hotel__label--today-views
            svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 15 9', width='15', height='9')
              path(fill-rule='evenodd', d='M7.49994 0C11.6779 0 14.7992 4.11744 14.93 4.29277c.0933.12465.0933.28966 0 .41461C14.7992 4.88241 11.6779 9 7.49994 9 3.32166 9 .200706 4.8821.069874 4.70707c-.0931653-.12464-.0931653-.28965 0-.4143C.200706 4.11744 3.32166 0 7.49994 0zM7.5 7C8.88071 7 10 5.88071 10 4.5S8.88071 2 7.5 2 5 3.11929 5 4.5 6.11929 7 7.5 7z', clip-rule='evenodd')
            span Просмотров сегодня: 1

        .hotel__gallery
          .hotel__gallery-preview.hotel__gallery-preview--first
            a(href='https://images.unsplash.com/photo-1585548807335-e0bfa52ac220?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=934&q=80', data-fancybox='gallery')
              img(src='https://images.unsplash.com/photo-1585548807335-e0bfa52ac220?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=934&q=80', alt='')
          .hotel__gallery-preview.hotel__gallery-preview--second
            a(href='https://images.unsplash.com/photo-1563911302283-d2bc129e7570?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2775&q=80', data-fancybox='gallery')
              img(src='https://images.unsplash.com/photo-1563911302283-d2bc129e7570?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2775&q=80', alt='')
          .hotel__gallery-preview.hotel__gallery-preview--third
            a(href='https://images.unsplash.com/photo-1619313268156-1d040ab8f1fc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2091&q=80', data-fancybox='gallery')
              img(src='https://images.unsplash.com/photo-1619313268156-1d040ab8f1fc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2091&q=80', alt='')
          .hotel__gallery-preview.hotel__gallery-preview--fourth
            a(href='https://images.unsplash.com/photo-1562133567-b6a0a9c7e6eb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80', data-fancybox='gallery')
              img(src='https://images.unsplash.com/photo-1562133567-b6a0a9c7e6eb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80', alt='')
          a.hotel__gallery-preview.hotel__gallery-preview--more(href='https://images.unsplash.com/photo-1619312667133-471376244b9f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80', data-fancybox='gallery')
            span.hotel__gallery-more-caption Больше фото
            img(src='https://images.unsplash.com/photo-1619312667133-471376244b9f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80', alt='')
          .hotel__gallery-covered
            a(href='https://images.unsplash.com/photo-1618972077039-ac5427f6c75f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1001&q=80', data-fancybox='gallery')
              img(src='https://images.unsplash.com/photo-1618972077039-ac5427f6c75f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1001&q=80', alt='')
            a(href='https://images.unsplash.com/photo-1565340076637-825894a74ca6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80', data-fancybox='gallery')
              img(src='https://images.unsplash.com/photo-1565340076637-825894a74ca6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80', alt='')
            a(href='https://images.unsplash.com/photo-1581974206967-93856b25aa13?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1936&q=80', data-fancybox='gallery')
              img(src='https://images.unsplash.com/photo-1581974206967-93856b25aa13?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1936&q=80', alt='')

        .hotel__notes
          .hotel__note
            .hotel__note-caption Обычно в номере:
            p Сейф, кондиционер, терраса, фен, телевизор, мини-бар, телефон, душ.
          .hotel__note
            .hotel__note-caption Питание в отеле:
            p Барбекю, ресторан, снек-бар, бар, шведский стол, лобби-бар.

        .hotel__search
          h2.hotel__search-title Поиск
          ul.hotel__search-tabs-nav(data-tabs='')
            li
              a(data-tabby-default='', href='#tour') Тур
            li
              a(href='#hotel') Только отель
            li
              a(href='#fly') Только перелет
          .hotel__search-tabs-content
            #tour
              form.hotel__search-form
                label.hotel__search-form-select(for='from')
                  select(id='from')
                    option(value='0') Город вылета
                    option(value='1') Москва
                    option(value='2') Санкт-Петербург
                    option(value='3') Красноярск
                    option(value='4') Владивосток
                    option(value='5') Казань
                label.hotel__search-form-select(for='when')
                  select(id='when')
                    option(value='0') Когда
                    option(value='1') Зимой
                    option(value='2') Летом
                    option(value='3') Весной
                label.hotel__search-form-select(for='duration')
                  select(id='duration')
                    option(value='0') 7 ночей + 2
                    option(value='1') 10 ночей + 3
                    option(value='2') 14 ночей + 5
                label.hotel__search-form-select(for='people')
                  select(id='people')
                    option(value='0') 2 человека
                    option(value='1') 3 человека
                    option(value='2') 4 человека
                .hotel__search-form-actions
                  button.hotel__search-form-submit(type='button')
                    | Найти
                    svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 20 20', width='20', height='20')
                      path(d='M0 0l20 10.2669-5.9821 2.9364L3.90929 4.28131 11.7843 14.271 12.1532 20l-3.72908-4.1068-4.24039 2.0534L0 0z')
            #hotel 2
            #fly 3



        .hotel__tours
          h2.hotel__tours-title Туры
          .hotel__tours-intro
            p Выберите тур в отель La Wisteria Boutique Hotel Istanbul с вылетом из Санкт-Петербурга
          .hotel__tours-filter
            +filters()
          .hotel__tours-result
            +tour-card()
            +tour-card()
            +tour-card()
            a.hotel__more-results(href='/') Смотреть ещё 10 туров



        section.hotel__section
          h2.hotel__section-title Об отеле La Wisteria Boutique Hotel Istanbul
          .hotel__about
            .hotel__about-group
              h3.hotel__about-subtitle Пляжная линия:
              p 1-ая пляжная линия
            .hotel__about-group
              h3.hotel__about-subtitle Тип пляжа:
              p Песок мелкий
            .hotel__about-group
              h3.hotel__about-subtitle Питание:
              p
                | Барбекю
                br
                | Ресторан
                br
                | Снек-бар
                br
                | Бар
                br
                | Шведский стол
                br
                | Лобби-бар
            .hotel__about-group
              h3.hotel__about-subtitle Пляж:
              p Частный пляж
            .hotel__about-group
              h3.hotel__about-subtitle Удобства в номерах:
              p
                | Сейф
                br
                | Кондиционер
                br
                | Терраса
                br
                | Фен
                br
                | Телевизор
                br
                | Мини-бар
                br
                | Телефон
                br
                | Душ
            .hotel__about-group
              h3.hotel__about-subtitle Развлечения:
              p
                | Экскурсии
                br
                | Бильярд
                br
                | Караоке
                br
                | Дартс
                br
                | Аниматоры
                br
                | Ночной клуб
            .hotel__about-group
              h3.hotel__about-subtitle Бассейн:
              p
                | Крытый бассейн
                br
                | Открытый бассейн
            .hotel__about-group
              h3.hotel__about-subtitle Интернет:
              p Wi-Fi
            .hotel__about-group
              h3.hotel__about-subtitle Услуги для детей:
              p
                | Игровая комната
                br
                | Детская площадка
                br
                | Детский клуб
                br
                | Детская кроватка в номере
                br
                | Детский бассейн
                br
                | Меню для детей
                br
                | Няня
            .hotel__about-group
              h3.hotel__about-subtitle Спорт:
              p
                | Теннисный корт
                br
                | Фитнес-центр
                br
                | Настольный теннис
                br
                | Водные виды
                br
                | Волейбол
                br
                | Футбол
                br
                | Баскетбол
            .hotel__about-group
              h3.hotel__about-subtitle Отдых на воде:
              p Аквапарк
            .hotel__about-group
              h3.hotel__about-subtitle Здоровье и красота:
              p
                | Массаж
                br
                | Сауна
                br
                | Спа и оздоровительный центр
                br
                | Паровая баня
            .hotel__about-group
              h3.hotel__about-subtitle Премии и сертификаты:
              p Сертификат безопасности
            .hotel__about-group
              h3.hotel__about-subtitle Общие услуги:
              p
                | Пункт обмена валюты
                br
                | Круглосуточная стойка регистрации
                br
                | Камера хранения багажа
                br
                | Сад
                br
                | Магазины в отеле
            .hotel__about-group
              h3.hotel__about-subtitle Парковка:
              p Частная
            .hotel__about-group
              h3.hotel__about-subtitle Тип отеля:
              p одно здание
            .hotel__about-group
              h3.hotel__about-subtitle Транспорт:
              p Аренда автомобиля
              p Трансфер
            .hotel__about-group
              h3.hotel__about-subtitle Услуги по чистке одежды:
              p Прачечная

        section.hotel__section
          h2.hotel__section-title Отель La Wisteria Boutique Hotel Istanbul на карте
          .hotel__map
            img(src='img/map.jpg', alt='')

        section.hotel__section.hotel__section--feedback
          h2.hotel__section-title Отзывы об отеле La Wisteria Boutique Hotel Istanbul
          .hotel__feedback
            ul.hotel__feedback-tabs-nav(data-tabs='feedback')
              li
                a(data-tabby-default='', href='#top-hotels') TopHotels 10
              li
                a(href='#trip-advisor') TripAdvisor 361
              li
                a(href='#lets-fly') Let's Fly 4
            .hotel__feedback-tabs-content
              #top-hotels
                +feedback({
                  rate: '4,5',
                  quotee: 'Таня Пешина',
                  visit: 'Посещение: Июнь, 2021',
                  added: 'Добавлено: Август, 2021'
                })
                +feedback({
                  rate: '5',
                  quotee: 'Павел Шульгин',
                  visit: 'Посещение: Июль, 2020',
                  added: 'Добавлено: Сентябрь, 2020'
                })
                .hotel__feedback-actions
                  a.hotel__more-feedback(href='/') Смотреть еще 621 отзыв
              #trip-advisor 2
              #lets-fly 3

        section.hotel__section
          h2.hotel__section-title Эти отели могут вам понравиться
          ul.hotel__other-variants
            li.hotel__other-variant
              +hotel-card()
            li.hotel__other-variant
              +hotel-card()
            li.hotel__other-variant
              +hotel-card()
            li.hotel__other-variant
              +hotel-card()



      .hotel__side
        .hotel__side-block.hotel__side-block--page-nav
           .page-nav
              h2.page-nav__title Информация
              ul.page-nav__list
                li: a(href='/') Туры
                li: a(href='/') Услуги
                li: a(href='/') На карте
                li: a(href='/') Отзывы
              .page-nav__actions
                +btn('Забронировать тур', '/').page-nav__order
        .hotel__side-block
          +manager()