extends ../pug/layout.pug

block meta
  - var title = 'Index';
  title= title
  meta(name='description', content='')

block content
  .search
    .search__container
      form.search__form
        label.search__form-select(for='from')
          select(id='from')
            option(value='0') Город вылета
            option(value='1') Москва
            option(value='2') Санкт-Петербург
            option(value='3') Красноярск
            option(value='4') Владивосток
            option(value='5') Казань
        label.search__form-select(for='to')
          select(id='to')
            option(value='0') Старана
            option(value='1') Уганда
            option(value='2') Германия
            option(value='3') Дания
        label.search__form-select(for='type')
          select(id='type')
            option(value='0') Тип тура
            option(value='1') Пляжный отдых
            option(value='2') VIP-отдых
            option(value='3') Дайвинг
        label.search__form-select(for='when')
          select(id='when')
            option(value='0') Когда
            option(value='1') Зимой
            option(value='2') Летом
            option(value='3') Весной
        label.search__form-select(for='duration')
          select(id='duration')
            option(value='0') 7 ночей + 2
            option(value='1') 10 ночей + 3
            option(value='2') 14 ночей + 5
        label.search__form-select(for='people')
          select(id='people')
            option(value='0') 2 человека
            option(value='1') 3 человека
            option(value='2') 4 человека
        .search__form-actions
          button.search__form-submit(type='button')
            | Найти
            svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 20 20', width='20', height='20')
              path(d='M0 0l20 10.2669-5.9821 2.9364L3.90929 4.28131 11.7843 14.271 12.1532 20l-3.72908-4.1068-4.24039 2.0534L0 0z')

  .promo
    .promo__container
      .promo__slider
        .swiper-wrapper
          .swiper-slide
            .promo__slide
              .promo__slide-wrap
                .promo__slide-info
                  h2.promo__slide-title Экскурсионные туры по России
                  a.promo__slide-learn-more(href='/')
                    | Узнать больше
                    svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 20 20', width='20', height='20')
                      path(d='M0 0l20 10.2669-5.9821 2.9364L3.90929 4.28131 11.7843 14.271 12.1532 20l-3.72908-4.1068-4.24039 2.0534L0 0z')
                .promo__slide-info-field
              .promo__slide-media
                img(src='img/promo-media-1.jpg', alt='')
          .swiper-slide
            .promo__slide
              .promo__slide-wrap
                .promo__slide-info
                  h2.promo__slide-title Экскурсионные туры по России
                  a.promo__slide-learn-more(href='/')
                    | Узнать больше
                    svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 20 20', width='20', height='20')
                      path(d='M0 0l20 10.2669-5.9821 2.9364L3.90929 4.28131 11.7843 14.271 12.1532 20l-3.72908-4.1068-4.24039 2.0534L0 0z')
                .promo__slide-info-field
              .promo__slide-media
                img(src='img/promo-media-2.jpg', alt='')
        .promo__slider-pagination



  .directions
    .directions__container
      ul.directions__list
        li.directions__item
          a.directions__card(href='/')
            figure.directions__card-figure
              .directions__card-icon
                img(src='img/villas.svg', alt='', width='43', height='51')
              figcaption.directions__card-caption Виллы с бассейном
        li.directions__item
          a.directions__card(href='/')
            figure.directions__card-figure
              .directions__card-icon
                img(src='img/hotels.svg', alt='', width='43', height='43')
              figcaption.directions__card-caption Пляжный отель
        li.directions__item
          a.directions__card(href='/')
            figure.directions__card-figure
              .directions__card-icon
                img(src='img/romantic.svg', alt='', width='43', height='44')
              figcaption.directions__card-caption Романтичный отдых
        li.directions__item
          a.directions__card(href='/')
            figure.directions__card-figure
              .directions__card-icon
                img(src='img/vip.svg', alt='', width='43', height='43')
              figcaption.directions__card-caption VIP-отдых
        li.directions__item
          a.directions__card(href='/')
            figure.directions__card-figure
              .directions__card-icon
                img(src='img/islands.svg', alt='', width='43', height='42')
              figcaption.directions__card-caption Острова
        li.directions__item
          a.directions__card(href='/')
            figure.directions__card-figure
              .directions__card-icon
                img(src='img/for-youth.svg', alt='', width='43', height='38')
              figcaption.directions__card-caption Молодежный отдых
        li.directions__item
          a.directions__card(href='/')
            figure.directions__card-figure
              .directions__card-icon
                img(src='img/surfing.svg', alt='', width='43', height='44')
              figcaption.directions__card-caption Серфинг
        li.directions__item
          a.directions__card(href='/')
            figure.directions__card-figure
              .directions__card-icon
                img(src='img/diving.svg', alt='', width='43', height='43')
              figcaption.directions__card-caption Дайвинг



  section.excursion-tours
    .excursion-tours__container
      h2.excursion-tours__title Экскурсионные туры
      ul.excursion-tours__list
        li.excursion-tours__item
          +excursion-tour-card({
            title: 'Феодосия',
            media: 'img/excursion-tour-media-1.jpg'
          })
        li.excursion-tours__item
          +excursion-tour-card({
            title: 'Казань',
            badge: 'fire',
            media: 'img/excursion-tour-media-2.jpg',
          })
        li.excursion-tours__item
          +excursion-tour-card({
            title: 'Казань',
            media: 'img/excursion-tour-media-2.jpg'
          })
      .excursion-tours__actions
        a.excursion-tours__show-more(href='/') Показать больше



  section.offers
    .offers__container
      h2.offers__title Акции
      +slider-nav().offers__slider-nav
      .offers__slider
        .swiper-wrapper
          .swiper-slide
            +offer-card({
              badge: 'fire',
              label: {
                mods: 'fire',
                text: 'Горящее предложение'
              },
              media: 'img/offer-media-1.jpg'
            })
          .swiper-slide
            +offer-card({
              badge: 'new',
              label: {
                mods: 'new',
                text: 'Новые предложения'
              },
              media: 'img/offer-media-2.jpg'
            })
          .swiper-slide
            +offer-card({
              badge: 'discount',
              label: {
                mods: 'discount',
                text: 'Специальные предложения'
              },
              media: 'img/offer-media-3.jpg'
            })
          .swiper-slide
            +offer-card({
              badge: 'fire',
              label: {
                mods: 'fire',
                text: 'Горящее предложение'
              },
              media: 'img/offer-media-4.jpg'
            })
          .swiper-slide
            +offer-card({
              badge: 'fire',
              label: {
                mods: 'fire',
                text: 'Горящее предложение'
              },
              media: 'img/offer-media-1.jpg'
            })
      .offers__actions
        a.offers__show-more(href='/') Показать больше



  section.news
    .news__container
      h2.news__title Новости
      +slider-nav().news__slider-nav
      .news__slider
        .swiper-wrapper
          .swiper-slide
            +article-card({
              title: 'Новые направления для поездок по России',
              media: 'img/article-media-1.jpg'
            })
          .swiper-slide
            +article-card({
              title: 'Новые направления для поездок по России',
              media: 'img/article-media-2.jpg'
            })
          .swiper-slide
            +article-card({
              title: 'Куда дешевле всего поехать на отдых в январе',
              media: 'img/article-media-3.jpg'
            })
          .swiper-slide
            +article-card({
              title: 'Новые направления для поездок по России',
              media: 'img/article-media-1.jpg'
            })
      .news__actions
        a.news__show-more(href='/') Показать больше



  section.about-company
    .about-company__container
      h2.about-company__title О компании
      .about-company__text
        p Let`s Fly (Летс Флай) — многопрофильный туроператор по индивидуальному туризму.
        p Туроператор входит в группу компаний Слетать.ру, которая объединяет в себе ведущую IT-компанию в области туризма, Центр бронирования туров, крупнейшую сеть туристических агентств.
        p Более 400 офисов продаж по всей России и собственный отдел качества позволяют заботиться о качествах бронируемого нашими туристами и агентами продукта. Мы основываемся не только на современных технологиях бизнеса, но и на индивидуальном подходе к каждому клиенту. Регулярные образовательные программы для менеджмента компании, семинары, fam-туры, позволяют совершенствовать лучшие профессиональные качества сотрудников.
        p Залогом успешной работы компании Let`s Fly выступают наши партнеры: турагенты, ведущие авиакомпании мира, принимающие компании, отельеры, страховые компании и другие.
        p Наличие эксклюзивных контрактов с ведущими DMC из нашего портфолио стран, позволяет обеспечить качественный сервис 24 часа в сутки, 7 дней в неделю.



  section.partners
    .partners__container
      h2.partners__title Партнеры
      .partners__slider
        .swiper-wrapper
          .swiper-slide
            img(src='img/lux.jpg', alt='', width='284', height='160')
          .swiper-slide
            img(src='img/visit-chechnya.jpg', alt='', width='284', height='160')
          .swiper-slide
            img(src='img/villa-hotels.jpg', alt='', width='284', height='160')
          .swiper-slide
            img(src='img/megatec.jpg', alt='', width='284', height='160')
          .swiper-slide
            img(src='img/js-resorts.jpg', alt='', width='284', height='160')
          .swiper-slide
            img(src='img/robinson.jpg', alt='', width='284', height='160')
          .swiper-slide
            img(src='img/tit.jpg', alt='', width='284', height='160')



  article.news-subscription
    .news-subscription__container
      h2.news-subscription__title Оставьте ваш e-mail, чтобы получать наши новости
      .news-subscription__desc Получайте первым Самые актуальные и интересные предложения!
      form.news-subscription__form
        label.news-subscription__label
          input.news-subscription__input(placeholder='E-mail')
          button.news-subscription__submit(type='button')
            | Подписаться
            svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 20 20', width='20', height='20')
              path(d='M0 0l20 10.2669-5.9821 2.9364L3.90929 4.28131 11.7843 14.271 12.1532 20l-3.72908-4.1068-4.24039 2.0534L0 0z')
      .news-subscription__privacy
        | Нажимая кнопку подписаться вы выражаете согласие на &#x20;
        a(href='/') Полный текст Соглашения об обработке персональных данных
