extends ../pug/layout.pug

block meta
  - var title = 'Tour';
  title= title
  meta(name='description', content='')

block content
  .tour
    .tour__container

      .tour__main
        h1.tour__title Кольцо Байкала

        .tour__media
          img(src='https://images.unsplash.com/photo-1548131283-7bb51b0f33f3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1506&q=80', alt='')

        section.tour__section.tour__section--dates
          h2.tour__section-caption
            svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 20 20', width='20', height='20')
              path(fill='#3C68B1', fill-rule='evenodd', d='M3 20c-1.65685 0-3-1.3431-3-3V5c0-1.65685 1.34315-3 3-3h1V1c0-.552285.44772-1 1-1s1 .447715 1 1v1h8V1c0-.552285.4477-1 1-1s1 .447715 1 1v1h1c1.6569 0 3 1.34315 3 3v12c0 1.6569-1.3431 3-3 3H3zm3-5H2v2c0 .5523.44772 1 1 1h3v-3zm6 0H8v3h4v-3zm6 0h-4v3h3c.5523 0 1-.4477 1-1v-2zM6 10H2v3h4v-3zm6 0H8v3h4v-3zm6 0h-4v3h4v-3zM4 4H3c-.55228 0-1 .44772-1 1v3h16V5c0-.55228-.4477-1-1-1h-1v1c0 .55228-.4477 1-1 1s-1-.44772-1-1V4H6v1c0 .55228-.44772 1-1 1s-1-.44772-1-1V4z', clip-rule='evenodd')
            | Даты туров
          .tour__dates 24.07—24.08

        section.tour__section.tour__section--duration
          h2.tour__section-caption
            svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 20 20', width='20', height='20')
              path(fill='#3C68B1', fill-rule='evenodd', d='M.292893 3.29289L3.29289.292893c.39053-.3905241 1.02369-.3905241 1.41422 0 .39052.390524.39052 1.023687 0 1.414217l-3 3c-.39053.39052-1.023693.39052-1.414217 0-.3905241-.39053-.3905241-1.02369 0-1.41422zM16.7071.292893l3 2.999997c.3905.39053.3905 1.02369 0 1.41422-.3905.39052-1.0237.39052-1.4142 0l-3-3c-.3905-.39053-.3905-1.023693 0-1.414217.3905-.3905241 1.0237-.3905241 1.4142 0zM10 20c4.9706 0 9-4.0294 9-9 0-4.97056-4.0294-9-9-9-4.97056 0-9 4.02944-9 9 0 4.9706 4.02944 9 9 9zm0-2c-3.86599 0-7-3.134-7-7 0-3.86599 3.13401-7 7-7 3.866 0 7 3.13401 7 7 0 3.866-3.134 7-7 7zm0-12c.5523 0 1 .44772 1 1v2.58579l1.7071 1.70711c.3905.3905.3905 1.0237 0 1.4142-.3905.3905-1.0237.3905-1.4142 0l-2.00001-2C9.10536 10.5196 9 10.2652 9 10V7c0-.55228.44771-1 1-1z', clip-rule='evenodd')
            | Продолжительность
          .tour__duration 11 дней / 10 ночей

        section.tour__section.tour__section--accommodation
          h2.tour__section-caption
            svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 20 20', width='20', height='20')
              path(fill='#3C68B1', fill-rule='evenodd', d='M5.001 20c-1.65652 0-2.9994-1.3431-2.9994-3v-6h-.9998C.111078 11-.335 9.92286.294839 9.29289L9.29303.292893c.39045-.3905241 1.02347-.3905241 1.41397 0l8.9982 8.999997C20.335 9.92286 19.8889 11 18.9982 11h-.9998v6c0 1.6569-1.3429 3-2.9994 3H5.001zM10 2.41421L3.35224 9.0633c.37912.14212.64896.50789.64896.9367v7c0 .5523.44763 1 .9998 1l1.9996-.001V14c0-1.1046.89525-2 1.9996-2h1.9996c1.1043 0 1.9996.8954 1.9996 2v3.999L14.999 18c.5522 0 .9998-.4477.9998-1v-7c0-.42881.2698-.79458.649-.9367L10 2.41421zM10.9998 14H9.0002v3.999h1.9996V14z', clip-rule='evenodd')
            | Размещение
          ul.tour__accommodation-types
            li.tour__accommodation-type
              h3.tour__accommodation-type-caption 2-местное
              .tour__accommodation-type-info
                | 101 625
                span  ₽/чел
            li.tour__accommodation-type
              h3.tour__accommodation-type-caption 1-местное
              .tour__accommodation-type-info
                | 121 200
                span  ₽/чел

        section.tour__section.tour__section--route
          h2.tour__section-title Маршрут тура
          ul.tour__route-list
            li Иркутск
            li Листвянка
            li Кругобайкальская железная дорога (КБЖД)
            li Бурятский фольклор
            li Остров Ольхон
            li Баргузинский залив
            li Баргузинская Долина
            li Чивыркуйский залив
            li Улан-Удэ

        section.tour__section.tour__section--specific-dates
          h2.tour__section-title Гарантированные даты
          h3.tour__specific-dates-caption Группы
          dl.tour__specific-dates-list
            .tour__specific-dates-item
              dt.tour__specific-dates-num №1
              dd.tour__specific-dates-dates 04.07.2021 – 08.07.2021
            .tour__specific-dates-item
              dt.tour__specific-dates-num №2
              dd.tour__specific-dates-dates 11.07.2021 – 15.07.2021
            .tour__specific-dates-item
              dt.tour__specific-dates-num №3
              dd.tour__specific-dates-dates 18.07.2021 – 22.07.2021
            .tour__specific-dates-item
              dt.tour__specific-dates-num №4
              dd.tour__specific-dates-dates 25.07.2021 – 29.07.2021
            .tour__specific-dates-item
              dt.tour__specific-dates-num №5
              dd.tour__specific-dates-dates 01.08.2021 – 05.08.2021
            .tour__specific-dates-item
              dt.tour__specific-dates-num №6
              dd.tour__specific-dates-dates 08.08.2021 – 12.08.2021

        section.tour__section.tour__section--include
          h2.tour__section-title В стоимость включено
          ul.tour__include-list
            li Встреча и трансферы по программе
            li Проживание в благоустроенном номере
            li Экскурсии авто: Шаманская гора (Малое море), Долина каменных духов и Панорамы Байкала, Мыс Бурхан остров Ольхон
            li Водная экскурсия: Остров Огой
            li Питание: полный пансион: 1 день: ОУ, 3-4 дни: ЗОУ, 5 день: З (шведский стол, в том числе: домашняя кухня с использованием фермерских продуктов, фиточаи на травах)
            li Пантовые или травяные ванны в кедровой ванне на открытом воздухе, с видом на Байкал – 2 шт
            li Байкальское СПА: Сибирский банный чан и русская баня (1 раз)

        section.tour__section.tour__section--additionally-paid
          h2.tour__section-title Дополнительно оплачивается
          ul.tour__additionally-paid-list
            li Авиа или ж/д билеты
            li Дополнительные услуги гостиницы и базы отдыха
            li Питание, не указанное в программе тура
            li Размещение другого уровня
            li Индивидуальное обслуживание
            li Дополнительные экскурсии

        section.tour__section.tour__section--schedule
          h2.tour__section-title Программа тура
          ul.tour__schedule
            li.tour__day
              h3.tour__day-num День 1
              .tour__day-media
                img(src='https://images.unsplash.com/photo-1605640486537-93da02d98119?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2689&q=80', alt='')
              .tour__day-info
                .tour__day-info-block.tour__day-info-block--route
                  h4.tour__day-caption Маршрут
                  p Иркутск
                .tour__day-info-block.tour__day-info-block--food
                  h4.tour__day-caption Питание
                  p Завтрак, обед
                .tour__day-info-block.tour__day-info-block--guide
                  h4.tour__day-caption Гид
                  p Да
                .tour__day-info-block.tour__day-info-block--desc
                  h4.tour__day-caption Описание
                  p Встреча проходит в 2 этапа: в аэропорту 8-8.30 (внутри здания у выхода в город с табличкой «Кольцо Байкала»), на жд вокзале 9-9.30 (встреча с табличкой у выхода в город внутри здания жд вокзала).
                  p При опоздании к месту сбора группы турист добирается до группы по маршруту  самостоятельно, за свой счет.
                  p После сбора группы отправляемся на завтрак.
                  p Наше путешествие по Иркутску начинается с обзорной экскурсии.
                  p Иркутск – столица Восточной Сибири, «Сибирский Париж», как его называли, город купцов и декабристов…Церкви, особняки, старинные дома. У всего своя история, интересная, подчас печальная, героическая, захватывающая. Мы познакомим Вас с историей нашего города.
                  p После знакомства с сибирским городом группа отправляется в п. Листвянка.
                  p Поселок Листвянка расположился на истоке реки Ангара и вытянулся вдоль берега Байкала на 5 километров. Свое название поселок получил из-за большего количества растущих вокруг лиственниц.
                  p Листвянку по праву можно назвать воротами Байкала, для многих туристов именно здесь начинается знакомство с великим озером.
                  p По пути посетим этнографический музейный комплекс под открытым небом «Тальцы». В музее воссоздан культурно-бытовой уклад сибирской деревни 17-19 веков.
                  p Здесь вы увидите усадьбы зажиточных крестьян, Спасскую башню  Илимского острога, Волостную Управу, церковно-приходскую школу, храм Казанской иконы Божьей Матери 17 века. Что особенно интересно, так это то, что в каждом дворе музея представлена своя экспозиция, можно зайти в каждый дом и окунуться в атмосферу тех времен.
                  p После посещения музея продолжаем путь в Листвянку. Сначала нас встретит Шаман-камень, овеянный мифами и легендами. Многие знают легенду о любви Ангары и Енисея.
                  p После посещение Байкальского музея, здесь вас ждет встреча с обитателями озера. Нерпа, гамарусы, бычки, губка – вот такие удивительные организмы живут в Байкале.
                  p Прогулка по Листвянке с посещением рыбного рынка и сувенирных рядов.
                  p Обед во время экскурсии.
                  p Размещение в гостинице/базе отдыха (удобства в номере).
            li.tour__day
              h3.tour__day-num День 2
              .tour__day-media
                img(src='https://images.unsplash.com/photo-1501675423372-9bfa95849e62?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80', alt='')

        section.tour__section.tour__section--hotels
          h2.tour__section-title Информация о предлагаемых гостиницах
          .tour__text
            p Листвянка: Бриз, Гавань, Усадьба Демидова (или аналогичная).
            p Иркутск: Матрешка, Грин, БизнесХолл, отель 130, Яковлев (или аналогичная).
            p Ольхон: Ольхон, Лада, Усадьба Бенчарова, Лейкплейс, Шаманка, Ольхон инн, Хотей, Иволга, Усадьба Копылова (или аналогичная).
            p Максимиха: Кумуткан, Байкальский дворик, Байкал Лидер (или аналогичная).
            p Улан-Удэ: Орда, Одон,  Гринвич, Бурятия (или аналогичная).

        section.tour__section.tour__section--vehicles
          h2.tour__section-title Информация о предлагаемом транспорте
          .tour__text
            p Возможно закончить маршрут в Улан-Удэ на 10 день тура, не возвращаясь в Иркутск,
            p стоимость тура будет уменьшена на 1500 рублей



      .tour__side

        .tour__side-block.tour__side-block--page-nav
          .page-nav
            h2.page-nav__title Информация
            ul.page-nav__list
              li: a(href='/') Даты тура
              li: a(href='/') Маршрут
              li: a(href='/') Гостиницы
              li: a(href='/') Транспорт
            .page-nav__actions
              +btn('Забронировать тур', '/').page-nav__order

        .tour__side-block
          +manager()