@use 'sass:math';

.hotel {
  padding: 40px 20px;

  &__container {
    @include container;
    display: grid;
    gap: 20px;
    grid-template: 'main' 'side' / 1fr;

    @media (min-width: $screen-sm) {
      gap: 40px;
      grid-template: 'main side' / 8fr 4fr;
    }
  }

  &__main {
    grid-area: main;
  }

  &__title {
    margin: 0 0 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4em;
    text-transform: uppercase;
    letter-spacing: 0.02em;

    @media (min-width: $screen-sm) {
      font-size: 28px;
    }
  }

  &__rating {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    padding: 10px 0 6px;
    margin-left: 5px;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 33 32'%3E%3Cpath fill='%23FFCA00' d='M16.0044 0l5.2744 10.0547 10.7256 2.1727-7.466 8.3705L25.8928 32l-9.8884-4.8842L6.116 32l1.35439-11.4021-7.46599547-8.3705L10.73 10.0547 16.0044 0z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform: translateY(-4px);
  }

  &__labels {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__label {
    display: flex;
    align-items: center;
    padding: 0;
    padding: 3px 8px;
    margin: 0 10px 10px 0;
    font-size: 14px;
    line-height: 20px;
    box-shadow: $box-shadow;

    svg {
      display: block;
      margin-right: 6px;
    }

    &--location {
      color: #fff;
      background-color: #3c68b1;

      svg {
        fill: #fff;
      }
    }

    &--popular {
      color: #000;
      background-color: #ffc700;

      svg {
        fill: #ff0000;
      }
    }

    &--today-views {
      color: #000;
      background-color: #f8f8f8;

      svg {
        fill: #c4c4c4;
      }
    }
  }



  &__gallery {
    display: grid;
    gap: 10px;
    grid-template:
      'first first first first'
      'second third fourth more' / 1fr 1fr 1fr 1fr;
    margin-bottom: 20px;
  }

  &__gallery-preview {

    a {
      position: relative;
      display: block;
      cursor: zoom-in;

      &::before {
        display: block;
        padding-bottom: math.div(3, 5) * 100%;
        content: '';
      }
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &--first {
      grid-area: first;
    }

    &--second {
      grid-area: second;
    }

    &--third {
      grid-area: third;
    }

    &--fourth {
      grid-area: fourth;
    }

    &--more {
      position: relative;
      display: block;
      grid-area: more;

      a {
        cursor: pointer;
      }
    }
  }

  &__gallery-covered {
    display: none;
  }

  &__gallery-more-caption {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #fff;
    background-color: rgba(#43434d, 0.7);

    &:hover,
    &:focus {
      background-color: rgba(#43434d, 0.5);
      transition: all 250ms $transition-t;
    }
  }



  &__notes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  &__note {
    flex: 1 0 0%;
    width: 100%;
    max-width: 100%;
    padding-right: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }

  &__note-caption {
    margin: 0 0 5px;
    color: #c4c4c4;
  }



  &__search {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    margin-bottom: 20px;
    color: #fff;
    background-color: #3c68b1;
  }

  &__search-title {
    flex: 1 0 0%;
    width: 100%;
    max-width: 100%;
    margin: 0 15px 15px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4em;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    white-space: nowrap;

    @media (min-width: $screen-sm) {
      font-size: 28px;
    }
  }

  &__search-tabs-nav {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    flex-wrap: nowrap;
    width: auto;
    max-width: 100%;
    padding: 0;
    margin: 0 0 15px;
    list-style: none;
    border: 1px solid #00c2eb;

    li {
      display: block;
      padding: 0;
      margin: 0;
      font-size: 17px;
      font-weight: 700;
      line-height: 21px;

      &:not(:last-child) {
        border-right: 1px solid #00c2eb;
      }
    }

    a {
      display: block;
      color: #fff;
      text-transform: lowercase;
      border: none;
      border-radius: 0;

      &[role='tab']:hover:not([aria-selected='true']) {
        background-color: #00c2eb;
      }

      @media (min-width: 30em) {

        &[role='tab']:hover:not([aria-selected='true']) {
          border: none;
        }

        &[role='tab'] {
          margin: 0;
        }

        &[role='tab'][aria-selected='true'] {
          background-color: #00c2eb;
          border: none;
        }
      }
    }
  }

  &__search-tabs-content {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  &__search-form {
    display: grid;
    gap: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;

    @media (min-width: $screen-sm) {
      gap: 0;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
    }

    @media (min-width: $screen-md) {
      gap: 0;
      grid-template-columns: repeat(5, 1fr) auto;
      grid-template-rows: auto;
    }
  }

  &__search-form-select {
    position: relative;
    display: block;
    align-self: center;
    width: 100%;
    font-size: 14px;
    line-height: 1.4em;
    cursor: pointer;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 13 8'%3E%3Cpath stroke='%23717171' d='M1 1l5.7037 6L12 1'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 15px top 50%;
    background-size: 13px 8px;
    border-radius: 0;
    outline: 1px solid #717171;

    select {
      width: 100%;
      padding: 10px 15px;
      margin: 0;
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
      cursor: inherit;
      background-color: transparent;
      border: none;
      outline: none;
      appearance: none;

      &::-ms-expand {
        display: none;
      }
    }
  }

  &__search-form-actions {
    display: flex;
    grid-column: 1 / span 2;
    justify-content: center;
    padding-top: 10px;

    @media (min-width: $screen-sm) {
      grid-column: 1 / span 4;
    }

    @media (min-width: $screen-md) {
      grid-column: 5 / span 1;
      padding: 0;
      margin-left: 10px;
    }
  }

  &__search-form-submit {
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 13px 20px;
    margin: 0;
    overflow: hidden;
    font-family: $font-f;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.4em;
    color: #3b68b0;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-color: #ffc700;
    background-image: none;
    border: none;
    transition: all 250ms $transition-t;

    svg {
      display: block;
      margin-left: 10px;
      fill: currentColor;
    }
  }



  &__tours {
    display: grid;
    grid-template:
      'tours-title'
      'tours-intro'
      'tours-filter'
      'tours-result' / 1fr;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f6fafd;
    gap: 20px;

    @media (min-width: $screen-sm) {
      grid-template:
        'tours-title tours-intro'
        'tours-filter tours-filter'
        'tours-result tours-result' / 1fr 1fr;
      gap: 20px;
    }

    @media (min-width: $screen-xl) {
      grid-template:
        'tours-title tours-intro'
        'tours-filter tours-result' / 1fr 2fr;
      gap: 5px;
    }
  }

  &__tours-title {
    grid-area: tours-title;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 0.02em;

    @media (min-width: $screen-sm) {
      font-size: 24px;
      line-height: 29px;
    }
  }

  &__tours-intro {
    grid-area: tours-intro;
    font-size: 14px;
    line-height: 20px;
    color: #717171;
  }

  &__tours-filter {
    grid-area: tours-filter;
  }

  &__tours-result {
    display: flex;
    grid-area: tours-result;
    flex-direction: column;
    align-items: center;
  }

  &__more-results {
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    margin: 15px 0 0;
    overflow: hidden;
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #00c2eb;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0.01em;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    background-image: none;
    border: 1px solid #00c2eb;
    border-radius: 0;
    transition: all 125ms $transition-t;
  }



  &__section {

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &--feedback {
      padding: 20px;
      background-color: #f6fafd;
    }
  }

  &__section-title {
    margin: 0 0 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 0.02em;

    @media (min-width: $screen-sm) {
      font-size: 24px;
      line-height: 29px;
    }
  }



  &__about {
    columns: 4;
    gap: 20px;
  }

  &__about-subtitle {
    margin: 0;
    font-size: 17px;
    font-weight: 600;
    line-height: 21px;
  }

  &__about-group {
    margin-bottom: 20px;
    overflow: hidden;
    column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    break-inside: avoid-column;
  }



  &__feedback {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__feedback-tabs-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0 0 15px;
    list-style: none;
    border: 1px solid #00c2eb;

    li {
      display: block;
      padding: 0;
      margin: 0;
      font-size: 17px;
      font-weight: 600;
      line-height: 21px;

      &:not(:last-child) {
        border-right: 1px solid #00c2eb;
      }
    }

    a {
      display: block;
      color: currentColor;
      border: none;
      border-radius: 0;

      &[role='tab']:hover:not([aria-selected='true']) {
        color: #fff;
        background-color: #00c2eb;
      }

      @media (min-width: 30em) {

        &[role='tab']:hover:not([aria-selected='true']) {
          border: none;
        }

        &[role='tab'] {
          margin: 0;
        }

        &[role='tab'][aria-selected='true'] {
          color: #fff;
          background-color: #00c2eb;
          border: none;
        }
      }
    }
  }

  &__feedback-tabs-content {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  &__feedback-actions {
    display: flex;
    justify-content: center;
  }

  &__more-feedback {
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    margin: 0;
    overflow: hidden;
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #00c2eb;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0.01em;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    background-image: none;
    border: 1px solid #00c2eb;
    border-radius: 0;
    transition: all 125ms $transition-t;
  }



  &__other-variants {
    display: grid;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    @media (min-width: $screen-xs) {
      gap: 20px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
    }

    @media (min-width: $screen-md) {
      gap: 20px;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
    }
  }

  &__other-variant {
    padding: 0;
    margin: 0;
  }



  &__side {
    grid-area: side;
  }

  &__side-block {

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &--page-nav {

      @media (max-width: ($screen-sm - 1px)) {
        display: none;
      }
    }
  }
}
