.page-footer {
  padding: 20px;
  background-color: #f7fafc;

  @media (min-width: $screen-sm) {
    padding: 45px 30px;
  }

  &__container {
    @include container;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    @media (min-width: $screen-sm) {
      gap: 30px 20px;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: 4fr;
    }
  }

  &__directions {
    order: 1;

    @media (min-width: $screen-sm) {
      grid-column: 1 / span 3;
      grid-row: 1 / span 2;
    }
  }

  &__info {
    order: 5;

    @media (min-width: $screen-sm) {
      grid-column: 4 / span 3;
      grid-row: 1 / span 2;
      order: 2;
    }
  }

  &__office {

    a {
      color: #265299;
    }

    &--moscow {
      order: 4;

      @media (min-width: $screen-sm) {
        grid-column: 7 / span 3;
        grid-row: 1 / span 1;
        order: 3;
      }
    }

    &--spb {
      order: 3;

      @media (min-width: $screen-sm) {
        grid-column: 7 / span 3;
        grid-row: 2 / span 1;
        order: 4;
      }
    }
  }

  &__contacts {
    order: 2;

    @media (min-width: $screen-sm) {
      display: flex;
      grid-column: 10 / span 3;
      grid-row: 1 / span 2;
      flex-direction: column;
      align-items: flex-end;
      order: 5;
      text-align: right;
    }
  }

  &__free-call {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.8em;
    color: #265299;
    text-decoration: none;
  }

  &__working-hours {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.8em;

    span {
      font-weight: 700;
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    justify-content: center;
    order: 6;

    a {
      display: block;
      margin: 0 15px;
      color: currentColor;

      svg {
        fill: currentColor;
      }
    }

    @media (min-width: $screen-sm) {
      grid-column: 5 / span 4;
      grid-row: 3 / span 1;
      order: 7;
    }
  }

  &__copyright {
    order: 7;
    font-size: 16px;
    line-height: 1.8em;
    text-align: center;

    @media (min-width: $screen-sm) {
      grid-column: 1 / span 4;
      grid-row: 3 / span 1;
      order: 6;
      text-align: left;
    }
  }

  &__privacy {
    order: 8;
    font-size: 16px;
    line-height: 1.8em;
    text-align: center;

    a {
      color: currentColor;
      text-decoration: none;
    }

    @media (min-width: $screen-sm) {
      display: flex;
      grid-column: 9 / span 4;
      grid-row: 3 / span 1;
      justify-content: flex-end;
      text-align: left;
    }
  }

  &__company-details {
    order: 9;

    @media (min-width: $screen-sm) {
      grid-column: 1 / span 12;
      grid-row: 4 / span 1;
    }
  }

  &__company-details-list {
    padding: 0;
    margin: 0;
    text-align: center;
    list-style: none;

    @media (min-width: $screen-sm) {
      display: flex;
      flex-direction: row;
      text-align: left;
    }

    li {
      font-size: 14px;
      line-height: 1.8em;

      @media (min-width: $screen-sm) {

        &:first-child {
          margin-right: auto;
        }

        &:not(:first-child) {
          margin-left: 30px;
        }
      }
    }
  }

  &__subtitle {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.8em;
    color: #265299;
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;

    @media (max-width: ($screen-sm - 1px)) {
      columns: 2;
      gap: 20px;
    }

    li {
      font-size: 16px;
      line-height: 1.8em;

      a {
        color: currentColor;
        text-decoration: none;
      }
    }
  }
}
