mixin page-footer(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' page-footer--' + modsList[i].trim();
      }
    }

  footer.page-footer(class=allMods)&attributes(attributes)
    .page-footer__container

      .page-footer__directions
        h3.page-footer__subtitle Направления
        ul.page-footer__list
          li: a(href='/') Туры
          li: a(href='/') Акции
          li: a(href='/') Авиа
          li: a(href='/') Экскурсии

      .page-footer__info
        ul.page-footer__list
          li: a(href='/') Информация
          li: a(href='/') Главная
          li: a(href='/') Агентствам
          li: a(href='/') Туристам
          li: a(href='/') О Компании
          li: a(href='/') Поиск туров

      .page-footer__office.page-footer__office--moscow
        h3.page-footer__subtitle Москва
        a(href='tel:+74951376293') +7 (495) 137-62-93

      .page-footer__office.page-footer__office--spb
        h3.page-footer__subtitle Санкт-Петербург
        a(href='tel:+78124263718') +7 (812) 426-37-18
        address Пл. Карла Фаберже д. 8Б

      .page-footer__contacts
        a.page-footer__free-call(href='tel:+78005517042') 8 (800) 551-70-42
        .page-footer__working-hours
          span Режим работы:
          br
          span Пн-пт
          |  11.00-20.00
          br
          span Сб
          |  12.00-17.00
          br
          span Вс
          span  выходной

      .page-footer__copyright
        span © 2021 — Let`s Fly by Sletat.ru

      .page-footer__socials
        a(href='/')
          svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 16 16', width='16', height='16')
            path(d='M8 1.44578h3.2771c.7711 0 1.1566.19277 1.4458.28916.3855.19277.6747.28916.9638.57831.2892.28916.482.57832.5784.96386.0963.28916.1927.6747.2891 1.44578V11.2771c0 .7711-.1928 1.1566-.2891 1.4458-.1928.3855-.2892.6747-.5784.9638-.2891.2892-.5783.482-.9638.5784-.2892.0963-.6747.1927-1.4458.2891H4.72289c-.77108 0-1.15662-.1928-1.44578-.2891-.38554-.1928-.6747-.2892-.96386-.5784-.28915-.2891-.48192-.5783-.57831-.9638-.09639-.2892-.19277-.6747-.28916-1.4458V8 4.72289c0-.77108.19277-1.15662.28916-1.44578.19277-.38554.28916-.6747.57831-.96386.28916-.28915.57832-.48192.96386-.57831.28916-.09639.6747-.19277 1.44578-.28916H8zM8 0H4.72289c-.86747 0-1.44578.192772-1.92771.385543-.48193.192771-.96385.481928-1.44578.963857-.481929.48193-.674701.86747-.963857 1.44578C.192772 3.27711.0963856 3.85542 0 4.72289V11.2771c0 .8675.192772 1.4458.385543 1.9277.192771.4819.481928.9639.963857 1.4458.48193.4819.86747.6747 1.44578.9639.48193.1927 1.06024.2891 1.92771.3855H11.2771c.8675 0 1.4458-.1928 1.9277-.3855.4819-.1928.9639-.482 1.4458-.9639s.6747-.8675.9639-1.4458c.1927-.4819.2891-1.0602.3855-1.9277V8 4.72289c0-.86747-.1928-1.44578-.3855-1.92771-.1928-.48193-.482-.96385-.9639-1.44578-.4819-.481929-.8675-.674701-1.4458-.963857C12.7229.192772 12.1446.0963856 11.2771 0H8z')
            path(d='M8 3.85542C5.68675 3.85542 3.85542 5.68675 3.85542 8c0 2.3133 1.83133 4.1446 4.14458 4.1446 2.3133 0 4.1446-1.8313 4.1446-4.1446 0-2.31325-1.8313-4.14458-4.1446-4.14458zm0 6.84338c-1.44578 0-2.69879-1.15663-2.69879-2.6988 0-1.44578 1.15662-2.69879 2.69879-2.69879 1.44578 0 2.6988 1.15662 2.6988 2.69879 0 1.44578-1.25302 2.6988-2.6988 2.6988zM12.241 4.72289c.5323 0 .9638-.43153.9638-.96385 0-.53233-.4315-.96386-.9638-.96386-.5324 0-.9639.43153-.9639.96386 0 .53232.4315.96385.9639.96385z')

        a(href='/')
          svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 24 14', width='24', height='14')
            path(fill-rule='evenodd', d='M3.5253 0H.900229C.150038 0 0 .346611 0 .729769 0 1.41238.889426 4.80067 4.14465 9.28067 6.3136 12.3412 9.37078 14 12.1519 14c1.6696 0 1.8761-.369 1.8761-1.0021v-2.3131c0-.73684.1584-.88421.6865-.88421.3901 0 1.0563.19099 2.6155 1.66581C19.1101 13.216 19.4029 14 20.404 14h2.6263c.7501 0 1.1258-.369.9086-1.0964-.2365-.7239-1.0863-1.7755-2.2146-3.02166-.6121-.70973-1.5292-1.47487-1.8076-1.85802-.3901-.49163-.2785-.70973 0-1.14712 0 0 3.1988-4.42577 3.5325-5.928926C23.6172.402021 23.4492 0 22.6546 0h-2.6251c-.6674 0-.9759.346611-1.1427.729769 0 0-1.3347 3.196121-3.2264 5.272251-.6122.60126-.8906.79343-1.2243.79343-.1669 0-.4081-.19217-.4081-.73802V.947874C14.028.292379 13.8347 0 13.2778 0H9.15113c-.41651 0-.66738.304169-.66738.593011 0 .621309.94585.765139 1.04307 2.513519v3.79739c0 .83351-.15244.98442-.48732.98442-.88943 0-3.05478-3.21146-4.33911-6.88506C4.44833.288842 4.19627 0 3.5253 0z', clip-rule='evenodd')

        a(href='/')
          svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 16 16', width='16', height='16')
            path(d='M16 8c0-4.4-3.6-8-8-8S0 3.6 0 8c0 4 2.9 7.3 6.7 7.9v-5.6h-2V8h2V6.2c0-2 1.2-3.1 3-3.1.9 0 1.8.2 1.8.2v2h-1c-1 0-1.3.6-1.3 1.2V8h2.2l-.4 2.3H9.1V16c4-.6 6.9-4 6.9-8z')


      .page-footer__privacy
        a(href='') Политика конфиденциальности

      .page-footer__company-details
        ul.page-footer__company-details-list
          li ООО “ГорТревел”
          li ИНН: 9721095485
          li КПП: 772101001
          li ОГРН: 1207700089838


