.offer-card {
  position: relative;
  z-index: 1;
  display: block;
  overflow: hidden;
  color: #fff;
  text-decoration: none;
  transition: all 250ms $transition-t;

  &::after {
    display: block;
    padding-bottom: 100%;
    content: '';
  }

  &:hover,
  &:focus {
    box-shadow: 0 4px 10px rgba(#000, 0.5);
  }

  &__info {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 15px;
  }

  &__badge {
    position: absolute;
    top: 15px;
    right: 15px;
  }

  &__duration {
    padding: 5px 10px;
    margin-bottom: 10px;
    font-size: 10px;
    line-height: 1.4em;
    color: #000;
    background-color: hsla(0, 0%, 100%, 0.4);
  }

  &__label {
    padding: 5px 10px;
    margin-bottom: auto;
    font-size: 12px;
    line-height: 1.4em;

    &--fire {
      color: #fff;
      background-color: #ff0000;
    }

    &--new {
      color: #000;
      background-color: #ffc700;
    }

    &--discount {
      color: #000;
      background-color: #00c2eb;
    }
  }

  &__title {
    margin: 0 0 5px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.3em;
  }

  &__dates {
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 1.4em;
  }

  &__price {
    font-size: 20px;
    line-height: 1.4em;

    span {
      font-size: 29px;
    }
  }

  &__media {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: '';
      background: linear-gradient(to bottom, hsla(217, 60%, 37%, 0.15), ease-in-out, hsla(217, 60%, 37%, 1));
      mix-blend-mode: multiply;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
