mixin offer-card(props)

  -
    if (typeof(props) === 'undefined') {
      var props = {};
    }

    var allMods = '';
    if (typeof(props.mods) !== 'undefined' && props.mods) {
      var modsList = props.mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' offer-card--' + modsList[i].trim();
      }
    }

  a.offer-card(href='/', class=allMods)&attributes(attributes)
    .offer-card__info
      +badge(props.badge).offer-card__badge
      .offer-card__duration 8 дней / 7 ночей
      .offer-card__label(class='offer-card__label--' + props.label.mods)!= props.label.text
      .offer-card__title Осенний Поцелуй
      .offer-card__dates 02.10 — 27.11
      .offer-card__price
        | от
        span  46000
        |  ₽ / чел.
    .offer-card__media
      img(src=props.media, alt='')