mixin hotel-card(props)

  -
    if (typeof(props) === 'undefined') {
      var props = {};
    }

    var allMods = '';
    if (typeof(props.mods) !== 'undefined' && props.mods) {
      var modsList = props.mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' hotel-card--' + modsList[i].trim();
      }
    }

  article.hotel-card(class=allMods)&attributes(attributes)
    a.hotel-card__media(href='/')
      img(src='https://images.unsplash.com/photo-1524231757912-21f4fe3a7200?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8aXN0YW5idWwlMjBjaXR5fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60', alt='')
    .hotel-card__info
      h3.hotel-card__title 4 ★ Отель Grand Emir Hotel
      a.hotel-card__location(href='/') Стамбул, Турция
      .hotel-card__duration 8 дней / 7 ночей
      .hotel-card__dates 02.10-27.11
      +btn('98 346 ₽', '').hotel-card__btn