.hotel-card {

  &__media {
    position: relative;
    display: block;
    height: 120px;

    img {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: #fff;
    text-align: center;
    background-color: #3b68b0;
  }

  &__title {
    margin: 0 0 5px;
    font-size: 14px;
    line-height: 18px;
  }

  &__location {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 16px;
    color: currentColor;
    text-decoration: underline;
  }

  &__duration {
    padding: 2px 6px;
    font-size: 8px;
    line-height: 8px;
    color: #265299;
    background-color: rgba(#fff, 0.75);
  }

  &__dates {
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
  }

  &__btn {
    padding: 5px 15px;
  }
}
