.field-checkbox {
  $block-name: &;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__wrap {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    width: 100%;
    max-width: 100%;
  }

  &__separation {
    flex: 1 0 0%;
    align-self: center;
    width: 100%;
    max-width: 100%;
    height: 1px;
    margin: 0 5px;
    background: linear-gradient(to right, transparent 50%, #c4c4c4 50%);
    background-size: 4px 2px;
  }

  &__caption {
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    color: #c4c4c4;
  }

  &__label {
    position: relative;
    display: inline-block;
    padding-left: 26px;
    margin-bottom: 5px;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    cursor: pointer;

    &--accent {
      padding: 0;
      margin: 0;
      text-align: center;

      .field-checkbox__text {
        display: block;
        padding: 10px;
        border: 1px solid #3b68b0;

        &::before,
        &::after {
          display: none;
        }

        span {
          display: block;
          font-weight: 400;
          color: #c4c4c4;
        }
      }

      input:checked ~ .field-checkbox__text {
        border: 1px solid #ffc700;
        box-shadow: 0 4px 10px rgba(255, 199, 0, 0.2);
      }
    }
  }

  &__text {
    display: inline-block;

    &:before {
      position: absolute;
      top: -2px;
      left: 0;
      width: 16px;
      height: 16px;
      content: '';
      border: 1px solid #c4c4c4;
      border-radius: 2px;
    }

    &:after {
      position: absolute;
      top: 2px;
      left: 3px;
      width: 10px;
      height: 8px;
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 10 8'%3E%3Cpath fill='%23FFCA00' d='M3.5509 7.98144l-.0183.0185L0 4.43137l1.48862-1.50378 2.06234 2.08335L8.51138 0 10 1.50378 3.56927 8l-.01837-.01856z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      opacity: 0;
      transition: opacity 125ms;

      @at-root input:checked ~ & {
        opacity: 1;
      }
    }

    span {
      font-weight: 700;
    }
  }

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
  }

  &--grid {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}
