mixin field-checkbox(checkboxes, mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' field-checkbox--' + modsList[i].trim();
      }
    }

  .field-checkbox(class=allMods)&attributes(attributes)

    each checkbox in checkboxes

      -
        var allMods = '';
        if (typeof(checkbox.mods) !== 'undefined' && checkbox.mods) {
          var modsList = checkbox.mods.split(',');
          for (var i = 0; i < modsList.length; i++) {
            allMods = allMods + ' field-checkbox__label--' + modsList[i].trim();
          }
        }

      if checkbox.caption
        .field-checkbox__wrap
          label.field-checkbox__label(class=allMods)
            input.field-checkbox__input(type='checkbox')&attributes(checkbox.attrs)
            span.field-checkbox__text!= checkbox.title
          .field-checkbox__separation
          .field-checkbox__caption!= checkbox.caption

      else
        label.field-checkbox__label(class=allMods)
          input.field-checkbox__input(type='checkbox')&attributes(checkbox.attrs)
          span.field-checkbox__text!= checkbox.title


